{
    "swagger": "2.0",
    "info": {
        "description": "RESTful API documents for VoIPBIN project.",
        "title": "VoIPBIN project API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "VoIPBIN Project",
            "email": "pchero21@gmail.com"
        },
        "version": "3.1.0"
    },
    "host": "api.voipbin.net",
    "paths": {
        "/auth/login": {
            "post": {
                "description": "Generate the JWT token and return it.",
                "produces": [
                    "application/json"
                ],
                "summary": "Generate the JWT token and return it.",
                "parameters": [
                    {
                        "description": "login info",
                        "name": "login_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyLoginPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyLoginPOST"
                        }
                    }
                }
            }
        },
        "/ping": {
            "get": {
                "description": "Used to check the server is alive",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns message pong",
                "responses": {
                    "200": {
                        "description": "{\"message\": \"pong\"}"
                    }
                }
            }
        },
        "/v1.0/activeflows": {
            "get": {
                "description": "get activeflows of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of activeflows",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyActiveflowsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create and execute the activeflow",
                "produces": [
                    "application/json"
                ],
                "summary": "Make and execute the activeflow",
                "parameters": [
                    {
                        "description": "The activeflow detail",
                        "name": "activeflow",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyActiveflowsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            }
        },
        "/v1.0/activeflows/{id}": {
            "get": {
                "description": "Returns detail activeflow info of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get detail activeflow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes activeflow info of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes activeflow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            }
        },
        "/v1.0/activeflows/{id}/stop": {
            "post": {
                "description": "Stops activeflow of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the given activeflow.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            }
        },
        "/v1.0/agents": {
            "get": {
                "description": "get agents of the user",
                "produces": [
                    "application/json"
                ],
                "summary": "List agents",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma seperated tag ids",
                        "name": "tag_ids",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Agent status",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyAgentsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "create a new agent",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new agent.",
                "parameters": [
                    {
                        "description": "The agent detail",
                        "name": "agent",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/agent.Agent"
                        }
                    }
                }
            }
        },
        "/v1.0/agents/{id}": {
            "get": {
                "description": "Get the agent of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Get the agent",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "description": "Update an agent and returns detail updated agent info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent and reuturns updated agent info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Delete the agent of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete the agent",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/addresses": {
            "put": {
                "description": "Update an agent addresses info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsIDAddressesPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/permission": {
            "put": {
                "description": "Update an agent password info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent's password info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsIDPermissionPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/status": {
            "put": {
                "description": "Update an agent status info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent's status info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/tag_ids": {
            "put": {
                "description": "Update an agent tag_ids info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent's tag_id info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyAgentsIDTagIDsPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/available_numbers": {
            "get": {
                "description": "get available numbers of the country",
                "produces": [
                    "application/json"
                ],
                "summary": "List available numbers",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The ISO country code",
                        "name": "country_code",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyAvailableNumbersGET"
                        }
                    }
                }
            }
        },
        "/v1.0/billing_accounts": {
            "get": {
                "description": "get list of the customer's billing accounts",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of billing accounts",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyBillingAccountsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "create a new billing account",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new billing account",
                "parameters": [
                    {
                        "description": "The call detail",
                        "name": "call",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCallsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            }
        },
        "/v1.0/billing_accounts/{id}": {
            "get": {
                "description": "Returns detail billing account info of the given call id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get detail billing account info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the billing account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            },
            "put": {
                "description": "Update billing account of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Update billing account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the billing_account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete billing account of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "delete billing account",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the billing_account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            }
        },
        "/v1.0/billing_accounts/{id}/balance_add_force": {
            "post": {
                "description": "Adds the given balance to the billing account.",
                "produces": [
                    "application/json"
                ],
                "summary": "Adds the given balance to the billing account.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the billing account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            }
        },
        "/v1.0/billing_accounts/{id}/payment_info": {
            "put": {
                "description": "Update billing account's payment info of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Update billing account's payment info",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the billing_account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_billing-manager_git_models_account.Account"
                        }
                    }
                }
            }
        },
        "/v1.0/calls": {
            "get": {
                "description": "get calls of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of calls",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCallsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "dialing to destination",
                "produces": [
                    "application/json"
                ],
                "summary": "Make an outbound call",
                "parameters": [
                    {
                        "description": "The call detail",
                        "name": "call",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCallsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}": {
            "get": {
                "description": "Returns detail call info of the given call id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get detail call info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            },
            "delete": {
                "description": "Hangup the call of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Hangup the call",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}/hangup": {
            "post": {
                "description": "Returns detail call info of the given call id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Hangup the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}/hold": {
            "post": {
                "description": "Hold the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Hold the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Unhold the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Unhold the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/meida_stream": {
            "get": {
                "description": "Start the call media streaming.",
                "produces": [
                    "application/json"
                ],
                "summary": "Start the call media streaming.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/moh": {
            "post": {
                "description": "MOH the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "MOH the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "MOH off the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "MOH off the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/mute": {
            "post": {
                "description": "Mute the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Mute the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Unmute the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Unmute the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/silence": {
            "post": {
                "description": "Silence the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Silence the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Silence off the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Silence off the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/talk": {
            "post": {
                "description": "Talks to the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Talk to the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigncalls": {
            "get": {
                "description": "get calls of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of calls",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigncalls/{id}": {
            "get": {
                "description": "Returns detail campaigns info of the given campaigncall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail campaigncall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the campaigncall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaigncall.WebhookMessage"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing campaign.",
                "produces": [
                    "application/json"
                ],
                "summary": "Finish a existing campaign.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigns": {
            "get": {
                "description": "Gets a list of campaigns",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of campaigns.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCampaignsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new campaign and returns detail created campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new campaign and returns detail created campaign info.",
                "parameters": [
                    {
                        "description": "campaign info.",
                        "name": "campaign",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}": {
            "get": {
                "description": "Returns detail campaigns info of the given campaigns id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail campaigns info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the campaigns",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing campaign.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing campaign.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/actions": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/campaigncalls": {
            "get": {
                "description": "Gets a list of campaigns",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of campaigns.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCampaignsIDCampaigncallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/next_campaign_id": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDResourceInfoPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/resource_info": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDResourceInfoPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/service_level": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/status": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbotcalls": {
            "get": {
                "description": "Gets a list of chatbotcalls",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatbotcalls.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatbotcallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbotcalls/{id}": {
            "get": {
                "description": "Returns detail chatbotcall info of the given chatbotcall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatbotcall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatbotcall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbotcall.Chatbotcall"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chatbotcall.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chatbotcall.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chatbotcall's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chatbots": {
            "get": {
                "description": "Gets a list of chatbots",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatbots.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatbotsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatbot and returns detail created chatbot info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatbot and returns detail created chatbot info.",
                "parameters": [
                    {
                        "description": "chatbot info.",
                        "name": "chatbot",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatbotsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbot.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbots/{id}": {
            "get": {
                "description": "Returns detail chatbot info of the given chatbot id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatbot info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatbot",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbot.Chatbot"
                        }
                    }
                }
            },
            "put": {
                "description": "Update the chatbot and returns updated chatbot info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update the chatbot and returns updated chatbot info.",
                "parameters": [
                    {
                        "description": "chatbot info.",
                        "name": "chatbot",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatbotsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbot.WebhookMessage"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chatbot.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chatbot.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chatbot's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chatmessages": {
            "get": {
                "description": "Gets a list of chatmessages",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatmessages.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatmessagesGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatmessage and returns detail created chatmessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatmessage and returns detail created chatmessage info.",
                "parameters": [
                    {
                        "description": "chatmessage info.",
                        "name": "chatmessage",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatmessagesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatmessages/{id}": {
            "get": {
                "description": "Returns detail chatmessage info of the given chatmessage id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatmessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatmessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.Messagechat"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatmessage and returns detail chatmessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatmessage and returns detail chatmessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.Messagechat"
                        }
                    }
                }
            }
        },
        "/v1.0/chatroommessages": {
            "get": {
                "description": "Gets a list of chatroommessages",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatroommessages.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The id of the chatroom",
                        "name": "chatroom_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatroommessage and returns detail created chatroommessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatroommessage and returns detail created chatroommessage info.",
                "parameters": [
                    {
                        "description": "chatroommessage info.",
                        "name": "chatroommessage",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatroommessagesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatroommessages/{id}": {
            "get": {
                "description": "Returns detail chatroommessage info of the given chatroommessage id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatroommessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroommessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechatroom.Messagechatroom"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatroommessage and returns detail chatroommessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatroommessage and returns detail chatroommessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroommessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechatroom.Messagechatroom"
                        }
                    }
                }
            }
        },
        "/v1.0/chatrooms": {
            "get": {
                "description": "Gets a list of chatrooms",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatrooms.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The id of the chatroom owner",
                        "name": "owner_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatroom and returns detail created chatroom info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatroom and returns detail created chatroom info.",
                "parameters": [
                    {
                        "description": "chatroom info.",
                        "name": "chatroom",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatroomsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatroom.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatrooms/{id}": {
            "get": {
                "description": "Returns detail chatroom info of the given chatroom id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatroom info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatroom.Chatroom"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a chat and returns detail updated info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a chat and reuturns updated info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chatroom's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatroomsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatroom and returns detail chatroom info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatroom and returns detail chatroom info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatroom.Chatroom"
                        }
                    }
                }
            }
        },
        "/v1.0/chats": {
            "get": {
                "description": "Gets a list of chats",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chats.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyChatsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chat and returns detail created chat info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chat and returns detail created chat info.",
                "parameters": [
                    {
                        "description": "chat info.",
                        "name": "chat",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}": {
            "get": {
                "description": "Returns detail chat info of the given chat id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chat info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chat",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a chat and returns detail updated info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a chat and reuturns updated info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chat.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chat.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chats/{id}/owner_id": {
            "put": {
                "description": "Update a chat and returns detail updated info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a chat and reuturns updated info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatsIDOwnerIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}/participant_ids": {
            "post": {
                "description": "Add a new participant id to the cat and returns detail updated chat info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Add a new participant id to the chat and returns detail updated chat info.",
                "parameters": [
                    {
                        "description": "chat info.",
                        "name": "chat",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyChatsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}/participant_ids/{participant_id}": {
            "delete": {
                "description": "Remove participant id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Remove participant id.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "The chat's participant id",
                        "name": "participant_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferencecalls": {
            "get": {
                "description": "get conferences of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of conferencecalls",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/conferencecalls/{id}": {
            "get": {
                "description": "Returns detail conferencecall info of the given conferencecall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conferencecall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conferencecall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conferencecall.Conferencecall"
                        }
                    }
                }
            },
            "delete": {
                "description": "Kicks the conferencecall.",
                "produces": [
                    "application/json"
                ],
                "summary": "Kicks the conferencecall from the conference.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conferencecall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences": {
            "get": {
                "description": "get conferences of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of conferences",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyCallsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new conference with the given information.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new conferences",
                "parameters": [
                    {
                        "description": "The conference detail",
                        "name": "conference",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyConferencesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            }
        },
        "/v1.0/conferences/{id}": {
            "get": {
                "description": "Returns detail conference info of the given conference id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conference info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            },
            "put": {
                "description": "Update conference info of the given conference id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update conference info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete the conference. All the participants in the conference will be kicked out.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete the conference.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/meida_stream": {
            "get": {
                "description": "Start the conference media streaming.",
                "produces": [
                    "application/json"
                ],
                "summary": "Start the conference media streaming.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/recording_start": {
            "post": {
                "description": "Start the conference recording.",
                "produces": [
                    "application/json"
                ],
                "summary": "Starts the conference recording.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/recording_stop": {
            "post": {
                "description": "Stops the conference recording.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the conference recording.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/transcribe_start": {
            "post": {
                "description": "Start the conference transcribe.",
                "produces": [
                    "application/json"
                ],
                "summary": "Starts the conference transcribe.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "conference info",
                        "name": "conference",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyConferencesIDTranscribeStartPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/transcribe_stop": {
            "post": {
                "description": "Stops the conference transcribe.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the conference transcribe.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conversation_accounts": {
            "get": {
                "description": "Gets a list of conversation accounts",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of conversation accounts.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_response.BodyConversationsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new conversation account and returns detail created conversation account info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new conversation account and returns detail created conversation account info.",
                "parameters": [
                    {
                        "description": "customer info.",
                        "name": "customer",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_api-manager_git_api_models_request.BodyConversationAccountsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_conversation-manager_git_models_account.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/conversation_accounts/{id}": {
            "get": {
                "description": "Returns detail conversation account info of the given conversation account id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conversation account info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conversation account",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab_com_voipbin_bin-manager_conversation-manager_git_models_account.WebhookMessage"
                        }
                    }
                }
            },
            "put": {
                "description": "Returns detail conversation account info of the given conversation account id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conversation account info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conversation account",
                        "name": "id",
[...]
