apiVersion: apps/v1
kind: Deployment
metadata:
  name: tts-manager
  labels:
    app: tts-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tts-manager
  template:
    metadata:
      labels:
        app: tts-manager
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "2112"
    spec:
      volumes:
        - name: shared-data
          emptyDir: {}
      containers:
        - name: tts-manager
          image: tts-manager-image
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: DATABASE_DSN
              value: ${DATABASE_DSN}
            - name: PROMETHEUS_ENDPOINT
              value: "/metrics"
            - name: PROMETHEUS_LISTEN_ADDRESS
              value: ":2112"
            - name: RABBITMQ_ADDRESS
              value: ${RABBITMQ_ADDRESS}
            - name: REDIS_ADDRESS
              value: ${REDIS_ADDRESS}
            - name: REDIS_PASSWORD
              value: ${REDIS_PASSWORD}
            - name: REDIS_DATABASE
              value: "1"
            - name: GCP_CREDENTIAL_BASE64
              value: ${GCP_SERVICE_ACCOUNT_BASE64}
            - name: GCP_PROJECT_ID
              value: ${GCP_PROJECT_ID}
            - name: GCP_BUCKET_NAME
              value: ${GCP_BUCKET_NAME_TMP}
            - name: AWS_ACCESS_KEY
              value: ${AWS_ACCESS_KEY}
            - name: AWS_SECRET_KEY
              value: ${AWS_SECRET_KEY}
            - name: ELEVENLABS_API_KEY
              value: ${ELEVENLABS_API_KEY}
          volumeMounts:
            - name: shared-data
              mountPath: /shared-data
          command:
            - './tts-manager'
          ports:
            - name: metrics
              protocol: "TCP"
              containerPort: 2112
          resources:
            limits:
              cpu: "20m"
              memory: "60M"

        - name: http-server
          image: python:3.9-bookworm
          volumeMounts:
            - name: shared-data
              mountPath: /shared-data
          command:
            - 'python3'
          args:
            - '-m'
            - 'http.server'
            - '80'
            - '-d'
            - '/tmp'
          ports:
            - name: http
              protocol: "TCP"
              containerPort: 80
          resources:
            limits:
              cpu: "20m"
              memory: "30M"
