{
    "swagger": "2.0",
    "info": {
        "description": "RESTful API documents for VoIPBIN project.",
        "title": "VoIPBIN project API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "VoIPBIN Project",
            "email": "pchero21@gmail.com"
        },
        "version": "1.0"
    },
    "host": "api.voipbin.net",
    "paths": {
        "/auth/login": {
            "post": {
                "description": "Generate the JWT token and return it.",
                "produces": [
                    "application/json"
                ],
                "summary": "Generate the JWT token and return it.",
                "parameters": [
                    {
                        "description": "login info",
                        "name": "login_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyLoginPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyLoginPOST"
                        }
                    }
                }
            }
        },
        "/ping": {
            "get": {
                "description": "Used to check the server is alive",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns message pong",
                "responses": {
                    "200": {
                        "description": "{\"message\": \"pong\"}"
                    }
                }
            }
        },
        "/v1.0/activeflows": {
            "get": {
                "description": "get activeflows of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of activeflows",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyActiveflowsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/activeflows/{id}": {
            "get": {
                "description": "Returns detail activeflow info of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get detail activeflow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes activeflow info of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes activeflow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            }
        },
        "/v1.0/activeflows/{id}/stop": {
            "post": {
                "description": "Stops activeflow of the given activeflow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the given activeflow.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the activeflow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/activeflow.Activeflow"
                        }
                    }
                }
            }
        },
        "/v1.0/agents": {
            "get": {
                "description": "get agents of the user",
                "produces": [
                    "application/json"
                ],
                "summary": "List agents",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Comma seperated tag ids",
                        "name": "tag_ids",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Agent status",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyAgentsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "create a new agent",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new agent.",
                "parameters": [
                    {
                        "description": "The agent detail",
                        "name": "agent",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyAgentsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/agent.Agent"
                        }
                    }
                }
            }
        },
        "/v1.0/agents/{id}": {
            "get": {
                "description": "Get the agent of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Get the agent",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "description": "Update an agent and returns detail updated agent info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent and reuturns updated agent info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyAgentsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Delete the agent of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete the agent",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/addresses": {
            "put": {
                "description": "Update an agent addresses info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyAgentsIDAddressesPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/status": {
            "put": {
                "description": "Update an agent status info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent's status info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyAgentsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/agents/{id}/tag_ids": {
            "put": {
                "description": "Update an agent tag_ids info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update an agent's tag_id info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the agent",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Agent's update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyAgentsIDTagIDsPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/available_numbers": {
            "get": {
                "description": "get available numbers of the country",
                "produces": [
                    "application/json"
                ],
                "summary": "List available numbers",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The ISO country code",
                        "name": "country_code",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyAvailableNumbersGET"
                        }
                    }
                }
            }
        },
        "/v1.0/calls": {
            "get": {
                "description": "get calls of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of calls",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyCallsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "dialing to destination",
                "produces": [
                    "application/json"
                ],
                "summary": "Make an outbound call",
                "parameters": [
                    {
                        "description": "The call detail",
                        "name": "call",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCallsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}": {
            "get": {
                "description": "Returns detail call info of the given call id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Get detail call info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            },
            "delete": {
                "description": "Hangup the call of the given id",
                "produces": [
                    "application/json"
                ],
                "summary": "Hangup the call",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}/hangup": {
            "post": {
                "description": "Returns detail call info of the given call id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Hangup the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/call.Call"
                        }
                    }
                }
            }
        },
        "/v1.0/calls/{id}/hold": {
            "post": {
                "description": "Hold the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Hold the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Unhold the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Unhold the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/moh": {
            "post": {
                "description": "MOH the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "MOH the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "MOH off the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "MOH off the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/mute": {
            "post": {
                "description": "Mute the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Mute the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Unmute the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Unmute the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/silence": {
            "post": {
                "description": "Silence the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Silence the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "description": "Silence off the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Silence off the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/calls/{id}/talk": {
            "post": {
                "description": "Talks to the call.",
                "produces": [
                    "application/json"
                ],
                "summary": "Talk to the call.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the call",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigncalls/{id}": {
            "get": {
                "description": "Returns detail campaigns info of the given campaigncall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail campaigncall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the campaigncall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaigncall.WebhookMessage"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing campaign.",
                "produces": [
                    "application/json"
                ],
                "summary": "Finish a existing campaign.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigns": {
            "get": {
                "description": "Gets a list of campaigns",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of campaigns.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyCampaignsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new campaign and returns detail created campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new campaign and returns detail created campaign info.",
                "parameters": [
                    {
                        "description": "campaign info.",
                        "name": "campaign",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}": {
            "get": {
                "description": "Returns detail campaigns info of the given campaigns id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail campaigns info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the campaigns",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing campaign.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing campaign.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/actions": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/campaigncalls": {
            "get": {
                "description": "Gets a list of campaigns",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of campaigns.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyCampaignsIDCampaigncallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/next_campaign_id": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDResourceInfoPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/resource_info": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDResourceInfoPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/service_level": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/campaigns/{id}/status": {
            "put": {
                "description": "Update a campaign and returns detail updated campaign info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a campaign and reuturns updated campaign info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The campaign's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCampaignsIDStatusPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/campaign.Campaign"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbotcalls": {
            "get": {
                "description": "Gets a list of chatbotcalls",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatbotcalls.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatbotcallsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbotcalls/{id}": {
            "get": {
                "description": "Returns detail chatbotcall info of the given chatbotcall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatbotcall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatbotcall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbotcall.Chatbotcall"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chatbotcall.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chatbotcall.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chatbotcall's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chatbots": {
            "get": {
                "description": "Gets a list of chatbots",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatbots.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatbotsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatbot and returns detail created chatbot info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatbot and returns detail created chatbot info.",
                "parameters": [
                    {
                        "description": "chatbot info.",
                        "name": "chatbot",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatbotsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbot.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatbots/{id}": {
            "get": {
                "description": "Returns detail chatbot info of the given chatbot id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatbot info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatbot",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatbot.Chatbot"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chatbot.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chatbot.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chatbot's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chatmessages": {
            "get": {
                "description": "Gets a list of chatmessages",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatmessages.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatmessagesGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chatmessage and returns detail created chatmessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chatmessage and returns detail created chatmessage info.",
                "parameters": [
                    {
                        "description": "chatmessage info.",
                        "name": "chatmessage",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatmessagesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chatmessages/{id}": {
            "get": {
                "description": "Returns detail chatmessage info of the given chatmessage id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatmessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatmessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.Messagechat"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatmessage and returns detail chatmessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatmessage and returns detail chatmessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechat.Messagechat"
                        }
                    }
                }
            }
        },
        "/v1.0/chatroommessages": {
            "get": {
                "description": "Gets a list of chatroommessages",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatroommessages.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The id of the chatroom",
                        "name": "chatroom_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/chatroommessages/{id}": {
            "get": {
                "description": "Returns detail chatroommessage info of the given chatroommessage id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatroommessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroommessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechatroom.Messagechatroom"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatroommessage and returns detail chatroommessage info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatroommessage and returns detail chatroommessage info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroommessage",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messagechatroom.Messagechatroom"
                        }
                    }
                }
            }
        },
        "/v1.0/chatrooms": {
            "get": {
                "description": "Gets a list of chatrooms",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chatrooms.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The id of the chatroom owner",
                        "name": "owner_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/chatrooms/{id}": {
            "get": {
                "description": "Returns detail chatroom info of the given chatroom id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chatroom info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatroom.Chatroom"
                        }
                    }
                }
            },
            "delete": {
                "description": "Deletes a chatroom and returns detail chatroom info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Deletes a chatroom and returns detail chatroom info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chatroom",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chatroom.Chatroom"
                        }
                    }
                }
            }
        },
        "/v1.0/chats": {
            "get": {
                "description": "Gets a list of chats",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of chats.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyChatsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new chat and returns detail created chat info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new chat and returns detail created chat info.",
                "parameters": [
                    {
                        "description": "chat info.",
                        "name": "chat",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}": {
            "get": {
                "description": "Returns detail chat info of the given chat id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail chat info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the chat",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a chat and returns detail updated info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a chat and reuturns updated info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing chat.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing chat.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/chats/{id}/owner_id": {
            "put": {
                "description": "Update a chat and returns detail updated info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a chat and reuturns updated info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatsIDOwnerIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.Chat"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}/participant_ids": {
            "post": {
                "description": "Add a new participant id to the cat and returns detail updated chat info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Add a new participant id to the chat and returns detail updated chat info.",
                "parameters": [
                    {
                        "description": "chat info.",
                        "name": "chat",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyChatsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/chat.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/chats/{id}/participant_ids/{participant_id}": {
            "delete": {
                "description": "Remove participant id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Remove participant id.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The chat's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "The chat's participant id",
                        "name": "participant_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferencecalls/{id}": {
            "get": {
                "description": "Returns detail conferencecall info of the given conferencecall id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conferencecall info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conferencecall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conferencecall.Conferencecall"
                        }
                    }
                }
            },
            "delete": {
                "description": "Kicks the conferencecall.",
                "produces": [
                    "application/json"
                ],
                "summary": "Kicks the conferencecall from the conference.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conferencecall",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences": {
            "get": {
                "description": "get conferences of the customer",
                "produces": [
                    "application/json"
                ],
                "summary": "Get list of conferences",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyCallsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new conference with the given information.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new conferences",
                "parameters": [
                    {
                        "description": "The conference detail",
                        "name": "conference",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyConferencesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            }
        },
        "/v1.0/conferences/{id}": {
            "get": {
                "description": "Returns detail conference info of the given conference id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conference info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            },
            "put": {
                "description": "Update conference info of the given conference id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update conference info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "JWT token",
                        "name": "token",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conference.Conference"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete the conference. All the participants in the conference will be kicked out.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete the conference.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/recording_start": {
            "post": {
                "description": "Start the conference recording.",
                "produces": [
                    "application/json"
                ],
                "summary": "Starts the conference recording.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/recording_stop": {
            "post": {
                "description": "Stops the conference recording.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the conference recording.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/transcribe_start": {
            "post": {
                "description": "Start the conference transcribe.",
                "produces": [
                    "application/json"
                ],
                "summary": "Starts the conference transcribe.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conferences/{id}/transcribe_stop": {
            "post": {
                "description": "Stops the conference transcribe.",
                "produces": [
                    "application/json"
                ],
                "summary": "Stops the conference transcribe.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conference",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/conversations": {
            "get": {
                "description": "Gets a list of conversations",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of conversations.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyConversationsGET"
                        }
                    }
                }
            }
        },
        "/v1.0/conversations/setup": {
            "post": {
                "description": "Send a message and returns a sent message info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Send a message and returns detail sent message info.",
                "parameters": [
                    {
                        "description": "message info.",
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.ParamConversationsSetupPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab.com_voipbin_bin-manager_conversation-manager.git_models_message.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/conversations/{id}": {
            "get": {
                "description": "Returns detail conversation info of the given conversation id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail conversation info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the conversation",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/conversation.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/conversations/{id}/messages": {
            "get": {
                "description": "Gets a list of conversation messages",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of conversation messages.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyConversationsIDMessagesGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Send a message and returns a sent message info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Send a message and returns detail sent message info.",
                "parameters": [
                    {
                        "description": "message info.",
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.ParamConversationsIDMessagesPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/gitlab.com_voipbin_bin-manager_conversation-manager.git_models_message.WebhookMessage"
                        }
                    }
                }
            }
        },
        "/v1.0/customers": {
            "get": {
                "description": "Gets a list of customers",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of customers.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyCustomersGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new customer and returns detail created customer info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new customer and returns detail created customer info.",
                "parameters": [
                    {
                        "description": "customer info.",
                        "name": "customer",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyCustomersPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            }
        },
        "/v1.0/customers/{id}": {
            "get": {
                "description": "Returns detail customer info of the given customer id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail customer info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the customer",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a customer and returns detail updated customer info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a customer.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing customer.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing customer.",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/customers/{id}/line_info": {
            "put": {
                "description": "Update a customer's line info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a customer's line info.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            }
        },
        "/v1.0/customers/{id}/password": {
            "put": {
                "description": "Update a customer's password.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a customer's password.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            }
        },
        "/v1.0/customers/{id}/permissions_ids": {
            "put": {
                "description": "Update a customer's permission_ids.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a customer's permission_ids.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/customer.Customer"
                        }
                    }
                }
            }
        },
        "/v1.0/domains": {
            "get": {
                "description": "Gets a list of domains",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of domains.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyDomainsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new domain and returns detail created domain info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new domain and returns detail created domain info.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.Domain"
                        }
                    }
                }
            }
        },
        "/v1.0/domains/{id}": {
            "get": {
                "description": "Returns detail domain info of the given domain id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail domain info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the domain",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.Domain"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a domain and returns detail updated domain info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a domain and reuturns updated domain info.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/domain.Domain"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing domain.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing domain.",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/extension/{id}": {
            "get": {
                "description": "Returns detail extension info of the given extension id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail extension info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the extension",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/extension.Extension"
                        }
                    }
                }
            }
        },
        "/v1.0/extensions": {
            "get": {
                "description": "Gets a list of extensions",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of extensions.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The domain's id",
                        "name": "domain_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/extension.Extension"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new extension and returns detail created extension info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new domain and returns detail created extension info.",
                "parameters": [
                    {
                        "description": "extension info",
                        "name": "extension",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyExtensionsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/extension.Extension"
                        }
                    }
                }
            }
        },
        "/v1.0/extensions/{id}": {
            "put": {
                "description": "Update a extension and returns detail updated extension info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a extension and reuturns updated extension info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "extension's id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyExtensionsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/extension.Extension"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a existing extension.",
                "produces": [
                    "application/json"
                ],
                "summary": "Delete a existing extension.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The extension's id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/v1.0/flows": {
            "get": {
                "description": "Gets a list of flows",
                "produces": [
                    "application/json"
                ],
                "summary": "Gets a list of flows.",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "The size of results. Max 100",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The token. tm_create",
                        "name": "page_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.BodyFlowsGET"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new flow and returns detail created flow info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Create a new flow and returns detail created flow info.",
                "parameters": [
                    {
                        "description": "flow info.",
                        "name": "flow",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyFlowsPOST"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/flow.Flow"
                        }
                    }
                }
            }
        },
        "/v1.0/flows/{id}": {
            "get": {
                "description": "Returns detail flow info of the given flow id.",
                "produces": [
                    "application/json"
                ],
                "summary": "Returns detail flow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The ID of the flow",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/flow.Flow"
                        }
                    }
                }
            },
            "put": {
                "description": "Update a flow and returns detail updated flow info.",
                "produces": [
                    "application/json"
                ],
                "summary": "Update a flow and reuturns updated flow info.",
                "parameters": [
                    {
                        "type": "string",
                        "description": "The flow's id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "description": "The update info",
                        "name": "update_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/request.BodyFlowsIDPUT"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/flow.Flow"
[...]
