openapi: 3.0.0
info:
  title: VoipBin API
  version: 1.0.0
  x-logo:
    url: "https://github.com/pchero/voipbin/blob/master/logos/voipbin-high-resolution-logo-black-transparent.png?raw=true"
    backgroundColor: "#FFFFFF"
    altText: "voipbin"
    href: "https://api.voipbin.net/docs/"
servers:
  - url: https://api.voipbin.net/v1.0

tags:
  - name: Auth
    description: Authentication operations
    externalDocs:
      description: Find more about authentication
      url: https://api.voipbin.net/docs/auth.html

  - name: Accesskey
    description: Operations related to accesskey
    externalDocs:
      description: Find more about accesskey
      url: https://api.voipbin.net/docs/accesskey.html

  - name: Activeflow
    description: Operations related to activeflow
    externalDocs:
      description: Find more about activeflow
      url: https://api.voipbin.net/docs/activeflow.html

  - name: Agent
    description: Operations related to agent
    externalDocs:
      description: Find more about agent
      url: https://api.voipbin.net/docs/agent.html

  - name: Billing
    description: Operations related to billing
    externalDocs:
      description: Find more about billing
      url: https://api.voipbin.net/docs/billing_account.html

  - name: Call
    description: Operations related to call
    externalDocs:
      description: Find more about call
      url: https://api.voipbin.net/docs/call.html

  - name: Campaign
    description: Operations related to campaign
    externalDocs:
      description: Find more about campaign
      url: https://api.voipbin.net/docs/campaign.html

  - name: AI
    description: Operations related to ai
    externalDocs:
      description: Find more about ai
      url: https://api.voipbin.net/docs/ai.html

  - name: Conference
    description: Operations related to conference
    externalDocs:
      description: Find more about conference
      url: https://api.voipbin.net/docs/conference.html

  - name: Conversation
    description: Operations related to conversation
    externalDocs:
      description: Find more about conversation
      url: https://api.voipbin.net/docs/conversation.html

  - name: Customer
    description: Operations related to customer
    externalDocs:
      description: Find more about customer
      url: https://api.voipbin.net/docs/customer.html

  - name: Extension
    description: Operations related to extension
    externalDocs:
      description: Find more about extension
      url: https://api.voipbin.net/docs/extension.html

  - name: File
    description: Operations related to file

  - name: Flow
    description: Operations related to flow
    externalDocs:
      description: Find more about flow
      url: https://api.voipbin.net/docs/flow.html

  - name: Groupcall
    description: Operations related to groupcall
    externalDocs:
      description: Find more about groupcall
      url: https://api.voipbin.net/docs/groupcall.html

  - name: Me
    description: Operations related to myself data

  - name: Message
    description: Operations related to message
    externalDocs:
      description: Find more about message
      url: https://api.voipbin.net/docs/message.html

  - name: Number
    description: Operations related to number
    externalDocs:
      description: Find more about number
      url: https://api.voipbin.net/docs/number.html

  - name: Outdial
    description: Operations related to outdial
    externalDocs:
      description: Find more about outdial
      url: https://api.voipbin.net/docs/outdial.html

  - name: Outplan
    description: Operations related to outplan
    externalDocs:
      description: Find more about outplan
      url: https://api.voipbin.net/docs/outplan.html

  - name: Provider
    description: Operations related to provider
    externalDocs:
      description: Find more about provider
      url: https://api.voipbin.net/docs/provider.html

  - name: Queue
    description: Operations related to queue
    externalDocs:
      description: Find more about queue
      url: https://api.voipbin.net/docs/queue.html

  - name: Recording
    description: Operations related to recording
    externalDocs:
      description: Find more about recording
      url: https://api.voipbin.net/docs/recording.html

  - name: Route
    description: Operations related to route
    externalDocs:
      description: Find more about route
      url: https://api.voipbin.net/docs/route.html

  - name: Service Agent
    description: Operations related to individual agent service

  - name: Speaking
    description: Operations related to real-time streaming TTS sessions

  - name: Storage
    description: Operations related to storage
    externalDocs:
      description: Find more about storage
      url: https://api.voipbin.net/docs/storage.html

  - name: Tag
    description: Operations related to tag
    externalDocs:
      description: Find more about tag
      url: https://api.voipbin.net/docs/tag.html

  - name: Transcribe
    description: Operations related to transcribe
    externalDocs:
      description: Find more about transcribe
      url: https://api.voipbin.net/docs/transcribe.html

  - name: Transfer
    description: Operations related to transfer
    externalDocs:
      description: Find more about transfer
      url: https://api.voipbin.net/docs/transfer.html

  - name: Trunk
    description: Operations related to trunk
    externalDocs:
      description: Find more about trunk
      url: https://api.voipbin.net/docs/trunk.html

  - name: Websocket
    description: Operations related to websocket
    externalDocs:
      description: Find more about websocket
      url: https://api.voipbin.net/docs/websocket.html

  - name: Timeline
    description: Operations related to timeline events

  - name: RAG
    description: Operations related to RAG (Retrieval-Augmented Generation)


components:

  parameters:
    PageSize:
      name: page_size
      in: query
      description: "Number of results to return per page."
      required: false
      schema:
        type: integer
        example: 25
    PageToken:
      name: page_token
      in: query
      description: "Cursor token for pagination. Use the `next_page_token` value from the previous response."
      required: false
      schema:
        type: string
        format: date-time
        x-go-type: string
        example: "2026-01-15T09:30:00.000000Z"


  schemas:

#########################################
# Auth
#########################################
    AuthLoginResponse:
      type: object
      description: Authentication response containing JWT token
      required:
        - username
        - token
      properties:
        username:
          type: string
          description: The authenticated username
          example: "user@example.com"
        token:
          type: string
          description: JWT token for API access
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

#########################################
# Agent Manager
#########################################
    AgentManagerAgentPermission:
      type: integer
      format: uint64
      description: Permission type
      example: 64
      enum:
        - 0    # PermissionNone
        - 65535 # PermissionAll
        - 1    # PermissionProjectSuperAdmin
        - 15   # PermissionProjectAll
        - 16   # PermissionCustomerAgent
        - 32   # PermissionCustomerAdmin
        - 64   # PermissionCustomerManager
        - 240  # PermissionCustomerAll
      x-enum-varnames:
        - AgentManagerPermissionNone
        - AgentManagerPermissionAll
        - AgentManagerPermissionProjectSuperAdmin
        - AgentManagerPermissionProjectAll
        - AgentManagerPermissionCustomerAgent
        - AgentManagerPermissionCustomerAdmin
        - AgentManagerPermissionCustomerManager
        - AgentManagerPermissionCustomerAll

    AgentManagerAgentRingMethod:
      type: string
      description: "Method used to ring the agent for incoming calls."
      example: "ringall"
      enum:
        - ringall
        - linear
      x-enum-varnames:
        - AgentManagerAgentRingMethodRingAll
        - AgentManagerAgentRingMethodLinear

    AgentManagerAgentStatus:
      type: string
      description: "Current availability status of the agent."
      example: "available"
      enum:
        - ""
        - available
        - away
        - busy
        - offline
        - ringing
      x-enum-varnames:
        - AgentManagerAgentStatusNone
        - AgentManagerAgentStatusAvailable
        - AgentManagerAgentStatusAway
        - AgentManagerAgentStatusBusy
        - AgentManagerAgentStatusOffline
        - AgentManagerAgentStatusRinging

    AgentManagerAgent:
      type: object
      description: Represents an agent resource.
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the agent."
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer who owns this agent. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        username:
          type: string
          description: "Agent's login username, typically an email address."
          example: "agent@example.com"
        name:
          type: string
          description: "Display name of the agent."
          example: "John Smith"
        detail:
          type: string
          description: "Additional detail or notes about the agent."
          example: "Senior support agent"
        ring_method:
          $ref: '#/components/schemas/AgentManagerAgentRingMethod'
          description: "Method used to ring the agent for incoming calls."
          example: "ringall"
        status:
          $ref: '#/components/schemas/AgentManagerAgentStatus'
          description: "Current availability status of the agent."
          example: "available"
        permission:
          $ref: '#/components/schemas/AgentManagerAgentPermission'
          description: "Permission level assigned to the agent."
          example: 64
        tag_ids:
          type: array
          items:
            type: string
            format: uuid
            x-go-type: string
          description: "List of tag IDs assigned to this agent. Returned from the `POST /tags` or `GET /tags` response."
          example: ["b1a2c3d4-e5f6-7890-abcd-ef1234567890"]
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: "Agent's endpoint addresses for receiving calls."
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: "Timestamp when the agent was created."
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: "Timestamp when the agent was last updated."
          example: "2026-01-16T14:20:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: "Timestamp when the agent was deleted."
          example: "2026-01-17T10:00:00.000000Z"


#########################################
# Billing Manager
#########################################
    BillingManagerAccountPaymentMethod:
      type: string
      description: The method of payment used for the account.
      example: "credit card"
      enum:
        - ""
        - credit card
      x-enum-varnames:
        - BillingManagerAccountPaymentMethodNone
        - BillingManagerAccountPaymentMethodCreditCard

    BillingManagerAccountPaymentType:
      type: string
      description: The type of payment associated with the account.
      example: "prepaid"
      enum:
        - ""
        - prepaid
      x-enum-varnames:
        - BillingManagerAccountPaymentTypeNone
        - BillingManagerAccountPaymentTypePrepaid

    BillingManagerAccountPlanType:
      type: string
      description: The plan tier of the billing account. Determines resource creation limits.
      example: "basic"
      enum:
        - free
        - basic
        - professional
        - unlimited
      x-enum-varnames:
        - BillingManagerAccountPlanTypeFree
        - BillingManagerAccountPlanTypeBasic
        - BillingManagerAccountPlanTypeProfessional
        - BillingManagerAccountPlanTypeUnlimited

    BillingManagerAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the account.
          example: "b8c9d0e1-f2a3-4567-8901-23456789abcd"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        name:
          type: string
          description: The display name of the billing account.
          example: "Production Account"
        detail:
          type: string
          description: A human-readable note describing the purpose of this account.
          example: "Main billing account for production services"
        plan_type:
          description: The plan tier of the billing account.
          example: "basic"
          $ref: '#/components/schemas/BillingManagerAccountPlanType'
        balance_credit:
          type: integer
          format: int64
          description: The credit balance of the account in micros (1 USD = 1,000,000).
          example: 1500000
        balance_token:
          type: integer
          format: int64
          description: The token balance of the account.
          example: 500
        payment_type:
          description: The type of payment associated with the account.
          example: "prepaid"
          $ref: '#/components/schemas/BillingManagerAccountPaymentType'
        payment_method:
          description: The method of payment used for the account.
          example: "credit card"
          $ref: '#/components/schemas/BillingManagerAccountPaymentMethod'
        tm_last_topup:
          type: string
          format: date-time
          x-go-type: string
          description: The timestamp of the last token top-up.
          example: "2026-01-15T09:30:00.000000Z"
        tm_next_topup:
          type: string
          format: date-time
          x-go-type: string
          description: The timestamp of the next scheduled token top-up.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: The timestamp when the account was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: The timestamp when the account was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: The timestamp when the account was deleted, if applicable.
          example: "2026-01-15T09:30:00.000000Z"

    BillingManagerBillingreferenceType:
      type: string
      description: The type of reference associated with this billing.
      example: "call"
      enum:
        - ""
        - call
        - call_extension
        - sms
        - number
        - number_renew
        - credit_free_tier
        - monthly_allowance
        - credit_adjustment
        - token_adjustment
      x-enum-varnames:
        - BillingManagerBillingreferenceTypeNone
        - BillingManagerBillingreferenceTypeCall
        - BillingManagerBillingreferenceTypeCallExtension
        - BillingManagerBillingreferenceTypeSMS
        - BillingManagerBillingreferenceTypeNumber
        - BillingManagerBillingreferenceTypeNumberRenew
        - BillingManagerBillingreferenceTypeCreditFreeTier
        - BillingManagerBillingreferenceTypeMonthlyAllowance
        - BillingManagerBillingreferenceTypeCreditAdjustment
        - BillingManagerBillingreferenceTypeTokenAdjustment
    BillingManagerBillingStatus:
      type: string
      description: Status of the billing.
      example: "progressing"
      enum:
        - progressing
        - end
        - pending
        - finished
      x-enum-varnames:
        - BillingManagerBillingStatusProgressing
        - BillingManagerBillingStatusEnd
        - BillingManagerBillingStatusPending
        - BillingManagerBillingStatusFinished

    BillingManagerBillingTransactionType:
      type: string
      description: The nature of the ledger entry.
      example: "usage"
      enum:
        - usage
        - top_up
        - adjustment
        - refund
      x-enum-varnames:
        - BillingManagerBillingTransactionTypeUsage
        - BillingManagerBillingTransactionTypeTopUp
        - BillingManagerBillingTransactionTypeAdjustment
        - BillingManagerBillingTransactionTypeRefund

    BillingManagerBilling:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the billing.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The customer's unique identifier. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        account_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The billing account ID. Returned from the `GET /billing_accounts/{id}` response."
          example: "b8c9d0e1-f2a3-4567-8901-23456789abcd"
        transaction_type:
          description: The nature of the ledger entry.
          example: "usage"
          $ref: '#/components/schemas/BillingManagerBillingTransactionType'
        status:
          description: Status of the billing.
          example: "progressing"
          $ref: '#/components/schemas/BillingManagerBillingStatus'
        reference_type:
          description: The type of reference associated with this billing.
          example: "call"
          $ref: '#/components/schemas/BillingManagerBillingreferenceType'
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
        cost_type:
          type: string
          description: The classification of the billing cost (e.g. call_pstn_outgoing, call_vn, sms, number).
          example: "call_pstn_outgoing"
        usage_duration:
          type: integer
          description: The actual usage duration in seconds.
          example: 125
        billable_units:
          type: integer
          description: The number of billable units (e.g. minutes, rounded up).
          example: 3
        rate_token_per_unit:
          type: integer
          format: int64
          description: The token rate per billable unit.
          example: 10
        rate_credit_per_unit:
          type: integer
          format: int64
          description: The credit rate per billable unit in micros.
          example: 50000
        amount_token:
          type: integer
          format: int64
          description: The token delta for this transaction (negative for usage, positive for top-up).
          example: -30
        amount_credit:
          type: integer
          format: int64
          description: The credit delta for this transaction in micros (negative for usage, positive for top-up).
          example: -150000
        balance_token_snapshot:
          type: integer
          format: int64
          description: The token balance after this transaction.
          example: 470
        balance_credit_snapshot:
          type: integer
          format: int64
          description: The credit balance after this transaction in micros.
          example: 1350000
        idempotency_key:
          type: string
          description: A unique key to prevent duplicate transactions.
          example: "txn-2026-01-15-001"
        tm_billing_start:
          type: string
          format: date-time
          x-go-type: string
          description: The start timestamp of the billing period.
          example: "2026-01-15T09:30:00.000000Z"
        tm_billing_end:
          type: string
          format: date-time
          x-go-type: string
          description: The end timestamp of the billing period.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: The creation timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: The last update timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: The deletion timestamp, if applicable.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Call Manager
#########################################
    CallManagerCallDirection:
      type: string
      description: Call direction
      example: "outgoing"
      enum:
        - incoming
        - outgoing
      x-enum-varnames:
        - CallManagerCallDirectionIncoming
        - CallManagerCallDirectionOutgoing
    CallManagerCallHangupBy:
      type: string
      description: Indicates who hung up the call
      example: "remote"
      enum:
        - ""
        - remote
        - local
      x-enum-varnames:
        - CallManagerCallHangupByNone
        - CallManagerCallHangupByRemote
        - CallManagerCallHangupByLocal
    CallManagerCallHangupReason:
      type: string
      description: Reason for call hangup
      example: "normal"
      enum:
        - ""
        - normal
        - failed
        - busy
        - cancel
        - timeout
        - noanswer
        - dialout
        - amd
      x-enum-varnames:
        - CallManagerCallHangupReasonNone
        - CallManagerCallHangupReasonNormal
        - CallManagerCallHangupReasonFailed
        - CallManagerCallHangupReasonBusy
        - CallManagerCallHangupReasonCancel
        - CallManagerCallHangupReasonTimeout
        - CallManagerCallHangupReasonNoanswer
        - CallManagerCallHangupReasonDialout
        - CallManagerCallHangupReasonAMD
    CallManagerCallMuteDirection:
      type: string
      description: Possible mute directions for the call
      example: "both"
      enum:
        - ""
        - both
        - out
        - in
      x-enum-varnames:
        - CallManagerCallMuteDirectionNone
        - CallManagerCallMuteDirectionBoth
        - CallManagerCallMuteDirectionOut
        - CallManagerCallMuteDirectionIn
    CallManagerCallStatus:
      type: string
      description: Call status
      example: "progressing"
      enum:
        - dialing
        - ringing
        - progressing
        - terminating
        - canceling
        - hangup
      x-enum-varnames:
        - CallManagerCallStatusDialing
        - CallManagerCallStatusRinging
        - CallManagerCallStatusProgressing
        - CallManagerCallStatusTerminating
        - CallManagerCallStatusCanceling
        - CallManagerCallStatusHangup
    CallManagerCallType:
      type: string
      description: Call type
      example: "flow"
      enum:
        - ""
        - flow
        - conference
        - sip-service
      x-enum-varnames:
        - CallManagerCallTypeNone
        - CallManagerCallTypeFlow
        - CallManagerCallTypeConference
        - CallManagerCallTypeSIPService
    CallManagerCall:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the call.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: The customer ID that owns this call. Returned from the `GET /customers` response.
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        owner_type:
          type: string
          description: Type of the resource owner (e.g., agent, queue).
          example: "agent"
        owner_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the resource owner. Returned from the corresponding owner resource endpoint (e.g., `GET /agents`, `GET /queues`)."
          example: "c2d3e4f5-a6b7-8901-2cde-f01234567890"
        flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: The flow ID associated with this call. Returned from the `POST /flows` or `GET /flows` response.
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: The activeflow ID associated with this call. Returned from the `POST /activeflows` or `GET /activeflows` response.
          example: "d4e5f6a7-b8c9-0123-4567-890abcdef012"
        type:
          description: The type of this call.
          example: "flow"
          $ref: '#/components/schemas/CallManagerCallType'
        master_call_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the master call that initiated this call. Returned from the `POST /calls` or `GET /calls` response."
          example: "4d5e6f7a-8b9c-0123-def0-123456789012"
        chained_call_ids:
          type: array
          items:
            type: string
            format: uuid
            x-go-type: string
          description: "Chained call IDs. Each ID is returned from the `POST /calls` or `GET /calls` response."
          example: ["550e8400-e29b-41d4-a716-446655440000"]
        recording_id:
          type: string
          format: uuid
          x-go-type: string
          description: The current recording ID. Returned from the `GET /recordings` response.
          example: "e5f6a7b8-c9d0-1234-5678-90abcdef0123"
        recording_ids:
          type: array
          items:
            type: string
            format: uuid
            x-go-type: string
          description: "Recording IDs associated with this call. Each ID is returned from the `GET /recordings` response."
          example: ["e5f6a7b8-c9d0-1234-5678-90abcdef0123"]
        groupcall_id:
          type: string
          format: uuid
          x-go-type: string
          description: Group call ID. Returned from the `POST /groupcalls` or `GET /groupcalls` response. Indicates this call is part of a group call.
          example: "5e6f7a8b-9c0d-1234-ef01-234567890123"
        source:
          description: Source address of the call.
          $ref: '#/components/schemas/CommonAddress'
        destination:
          description: Destination address of the call.
          $ref: '#/components/schemas/CommonAddress'
        status:
          description: Current status of the call.
          example: "progressing"
          $ref: '#/components/schemas/CallManagerCallStatus'
        action:
          description: The current action being executed on this call.
          $ref: '#/components/schemas/FlowManagerAction'
        direction:
          description: Direction of the call.
          example: "outgoing"
          $ref: '#/components/schemas/CallManagerCallDirection'
        mute_direction:
          description: Current mute direction of the call.
          example: "both"
          $ref: '#/components/schemas/CallManagerCallMuteDirection'
        hangup_by:
          description: Indicates who hung up the call.
          example: "remote"
          $ref: '#/components/schemas/CallManagerCallHangupBy'
        hangup_reason:
          description: Reason the call was hung up.
          example: "normal"
          $ref: '#/components/schemas/CallManagerCallHangupReason'
        tm_progressing:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp for call progressing.
          example: "2026-01-15T09:30:00.000000Z"
        tm_ringing:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp for call ringing.
          example: "2026-01-15T09:30:00.000000Z"
        tm_hangup:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp for call hangup.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: The creation timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: The last update timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: The deletion timestamp, if applicable.
          example: "2026-01-15T09:30:00.000000Z"

    CallManagerGroupcallAnswerMethod:
      type: string
      description: Method to handle answered calls
      example: "hangup_others"
      enum:
        - ""
        - hangup_others
      x-enum-varnames:
        - CallManagerGroupcallAnswerMethodNone
        - CallManagerGroupcallAnswerMethodHangupOthers
    CallManagerGroupcallRingMethod:
      type: string
      description: Method used for dialing
      example: "ring_all"
      enum:
        - ""
        - ring_all
        - linear
      x-enum-varnames:
        - CallManagerGroupcallRingMethodNone
        - CallManagerGroupcallRingMethodRingAll
        - CallManagerGroupcallRingMethodLinear
    CallManagerGroupcallStatus:
      type: string
      description: Current status of the call or group call
      example: "progressing"
      enum:
        - progressing
        - hangingup
        - hangup
      x-enum-varnames:
        - CallManagerGroupcallStatusProgressing
        - CallManagerGroupcallStatusHangingup
        - CallManagerGroupcallStatusHangup
    CallManagerGroupcall:
      type: object
      description: Call or group call information
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the group call.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: The customer ID that owns this group call. Returned from the `GET /customers` response.
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        owner_type:
          type: string
          description: Type of the resource owner (e.g., agent, queue).
          example: "agent"
        owner_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the resource owner. Returned from the corresponding owner resource endpoint (e.g., `GET /agents`, `GET /queues`)."
          example: "c2d3e4f5-a6b7-8901-2cde-f01234567890"
        status:
          description: Current status of the group call.
          example: "progressing"
          $ref: '#/components/schemas/CallManagerGroupcallStatus'
        flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: The flow ID associated with this group call. Returned from the `POST /flows` or `GET /flows` response.
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        source:
          $ref: '#/components/schemas/CommonAddress'
          nullable: true
          description: Source address of the group call.
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          minItems: 1
          description: List of target addresses. Must contain at least one destination.
        master_call_id:
          type: string
          format: uuid
          x-go-type: string
          nullable: true
          description: "The unique identifier of the master call that initiated this group call. Returned from the `POST /calls` or `GET /calls` response."
          example: "4d5e6f7a-8b9c-0123-def0-123456789012"
        master_groupcall_id:
          type: string
          format: uuid
          x-go-type: string
          nullable: true
          description: "The unique identifier of the master group call, if applicable. Returned from the `POST /groupcalls` or `GET /groupcalls` response."
          example: "5e6f7a8b-9c0d-1234-ef01-234567890123"
        ring_method:
          description: The method used for dialing destinations.
          example: "ring_all"
          $ref: '#/components/schemas/CallManagerGroupcallRingMethod'
        answer_method:
          description: The method to handle answered calls.
          example: "hangup_others"
          $ref: '#/components/schemas/CallManagerGroupcallAnswerMethod'
        answer_call_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the answered call. Returned from the `POST /calls` or `GET /calls` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        call_ids:
          type: array
          items:
            type: string
            format: uuid
            x-go-type: string
          description: "List of associated call IDs. Each ID is returned from the `POST /calls` or `GET /calls` response."
          example: ["550e8400-e29b-41d4-a716-446655440000"]
        answer_groupcall_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the answered group call. Returned from the `POST /groupcalls` or `GET /groupcalls` response."
          example: "5e6f7a8b-9c0d-1234-ef01-234567890123"
        groupcall_ids:
          type: array
          items:
            type: string
            format: uuid
            x-go-type: string
          description: "List of associated group call IDs. Each ID is returned from the `POST /groupcalls` or `GET /groupcalls` response."
          example: ["5e6f7a8b-9c0d-1234-ef01-234567890123"]
        call_count:
          type: integer
          description: Number of remaining calls in the current dial.
          example: 2
        groupcall_count:
          type: integer
          description: Number of remaining group calls in the current dial.
          example: 1
        dial_index:
          type: integer
          nullable: true
          description: Current dial index, valid only when the ring method is "ring_all".
          example: 0
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: The creation timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: The last update timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          nullable: true
          description: The deletion timestamp, if applicable.
          example: "2026-01-15T09:30:00.000000Z"

    CallManagerRecordingFormat:
      type: string
      description: The format of the recording.
      example: "wav"
      enum:
        - wav
      x-enum-varnames:
        -CallManagerRecordingFormatWAV
    CallManagerRecordingReferenceType:
      type: string
      description: Type of reference for the recording.
      example: "call"
      enum:
        - call
        - confbridge
      x-enum-varnames:
        - CallManagerRecordingReferenceTypeCall
        - CallManagerRecordingReferenceTypeConfbridge
    CallManagerRecordingStatus:
      type: string
      description: The status of the recording.
      example: "recording"
      enum:
        - initiating
        - recording
        - stopping
        - ended
      x-enum-varnames:
        - CallManagerRecordingStatusInitiating
        - CallManagerRecordingStatusRecording
        - CallManagerRecordingStatusStopping
        - CallManagerRecordingStatusEnded
    CallManagerRecording:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the recording.
          example: "e5f6a7b8-c9d0-1234-5678-90abcdef0123"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: The customer ID that owns this recording. Returned from the `GET /customers` response.
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        owner_type:
          type: string
          description: Type of the resource owner (e.g., call, confbridge).
          example: "call"
        owner_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the resource owner. Returned from the corresponding owner resource endpoint (e.g., `GET /calls`, `GET /confbridges`)."
          example: "c2d3e4f5-a6b7-8901-2cde-f01234567890"
        reference_type:
          description: The type of reference, either a "call" or a "confbridge".
          example: "call"
          $ref: '#/components/schemas/CallManagerRecordingReferenceType'
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
        status:
          description: The status of the recording.
          example: "recording"
          $ref: '#/components/schemas/CallManagerRecordingStatus'
        format:
          description: The format of the recording file (e.g., WAV).
          example: "wav"
          $ref: '#/components/schemas/CallManagerRecordingFormat'
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: The activeflow ID associated with this recording. Returned from the `POST /activeflows` or `GET /activeflows` response.
          example: "d4e5f6a7-b8c9-0123-4567-890abcdef012"
        on_end_flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: Flow ID to execute when recording ends. Returned from the `POST /flows` or `GET /flows` response.
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        tm_start:
          type: string
          format: date-time
          x-go-type: string
          description: The start timestamp of the recording.
          example: "2026-01-15T09:30:00.000000Z"
        tm_end:
          type: string
          format: date-time
          x-go-type: string
          description: The end timestamp of the recording.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: The creation timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: The last update timestamp.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: The deletion timestamp, if applicable.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Campaign Manager
#########################################
    CampaignManagerCampaignEndHandle:
      type: string
      description: Behavior of the campaign after outdial has no more targets.
      example: "stop"
      enum:
        - stop
        - continue
      x-enum-varnames:
        - CampaignManagerCampaignEndHandleStop
        - CampaignManagerCampaignEndHandleContinue
    CampaignManagerCampaignExecute:
      type: string
      description: Execution action for the campaign.
      example: "run"
      enum:
        - run
        - stop
      x-enum-varnames:
        - CampaignManagerCampaignExecuteRun
        - CampaignManagerCampaignExecuteStop
    CampaignManagerCampaignStatus:
      type: string
      description: Status of the campaign.
      example: "run"
      enum:
        - stop
        - stopping
        - run
      x-enum-varnames:
        - CampaignManagerCampaignStatusStop
        - CampaignManagerCampaignStatusStopping
        - CampaignManagerCampaignStatusRun
    CampaignManagerCampaignType:
      type: string
      description: Type of campaign.
      example: "call"
      enum:
        - call
        - flow
      x-enum-varnames:
        - CampaignManagerCampaignTypeCall
        - CampaignManagerCampaignTypeFlow
    CampaignManagerCampaign:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the campaign.
          example: "c3d4e5f6-a7b8-9012-3456-7890abcdef01"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        type:
          $ref: '#/components/schemas/CampaignManagerCampaignType'
          description: The type of campaign.
          example: "call"
        name:
          type: string
          description: Display name of the campaign.
          example: "Q1 Outbound Campaign"
        detail:
          type: string
          description: Additional details about the campaign.
          example: "Quarterly customer outreach campaign"
        status:
          $ref: '#/components/schemas/CampaignManagerCampaignStatus'
          description: Current status of the campaign.
          example: "run"
        service_level:
          type: integer
          description: Target service level percentage.
          example: 80
        end_handle:
          $ref: '#/components/schemas/CampaignManagerCampaignEndHandle'
          description: Behavior when outdial has no more targets.
          example: "stop"
        actions:
          type: array
          items:
            $ref: '#/components/schemas/FlowManagerAction'
          description: Ordered list of actions to execute for each campaign call.
        outplan_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the outplan. Returned from the `POST /outplans` or `GET /outplans` response."
          example: "2b3c4d5e-6f7a-8901-bcde-f12345678901"
        outdial_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the outdial. Returned from the `POST /outdials` or `GET /outdials` response."
          example: "3c4d5e6f-7a8b-9012-cdef-012345678901"
        queue_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the queue. Returned from the `POST /queues` or `GET /queues` response."
          example: "1a2b3c4d-5e6f-7890-abcd-ef1234567890"
        next_campaign_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the next campaign to execute after this one completes. Returned from the `POST /campaigns` or `GET /campaigns` response."
          example: "c3d4e5f6-a7b8-9012-3456-7890abcdef01"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    CampaignManagerCampaigncallReferenceType:
      type: string
      description: Type of reference for the campaign call.
      example: "call"
      enum:
        - none
        - call
        - flow
      x-enum-varnames:
        - CampaignManagerCampaigncallReferenceTypeNone
        - CampaignManagerCampaigncallReferenceTypeCall
        - CampaignManagerCampaigncallReferenceTypeFlow
    CampaignManagerCampaigncallResult:
      type: string
      description: Result of the campaign call attempt.
      example: "success"
      enum:
        - ""
        - success
        - fail
      x-enum-varnames:
        - CampaignManagerCampaigncallResultNone
        - CampaignManagerCampaigncallResultSuccess
        - CampaignManagerCampaigncallResultFail
    CampaignManagerCampaigncallStatus:
      type: string
      description: Status of the campaign call.
      example: "progressing"
      enum:
        - dialing
        - progressing
        - done
      x-enum-varnames:
        - CampaignManagerCampaigncallStatusDialing
        - CampaignManagerCampaigncallStatusProgressing
        - CampaignManagerCampaigncallStatusDone
    CampaignManagerCampaigncall:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the campaign call.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        campaign_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the campaign. Returned from the `POST /campaigns` or `GET /campaigns` response."
          example: "c3d4e5f6-a7b8-9012-3456-7890abcdef01"
        outplan_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the outbound plan. Returned from the `POST /outplans` or `GET /outplans` response."
          example: "2b3c4d5e-6f7a-8901-bcde-f12345678901"
        outdial_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the outbound dial. Returned from the `POST /outdials` or `GET /outdials` response."
          example: "3c4d5e6f-7a8b-9012-cdef-012345678901"
        outdial_target_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the outbound dial target. Returned from the `GET /outdials/{id}/targets` response."
          example: "3c4d5e6f-7a8b-9012-cdef-012345678901"
        queue_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the queue. Returned from the `POST /queues` or `GET /queues` response."
          example: "1a2b3c4d-5e6f-7890-abcd-ef1234567890"
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the activeflow. Returned from the `GET /activeflows` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the flow. Returned from the `POST /flows` or `GET /flows` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        reference_type:
          $ref: '#/components/schemas/CampaignManagerCampaigncallReferenceType'
          description: Type of reference for the campaign call.
          example: "call"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "550e8400-e29b-41d4-a716-446655440000"
        status:
          $ref: '#/components/schemas/CampaignManagerCampaigncallStatus'
          description: Status of the campaign call.
          example: "progressing"
        result:
          $ref: '#/components/schemas/CampaignManagerCampaigncallResult'
          description: Result of the campaign call attempt.
          example: "success"
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: Source address of the campaign call.
        destination:
          $ref: '#/components/schemas/CommonAddress'
          description: Destination address of the campaign call.
        destination_index:
          type: integer
          description: Index of the current destination being dialed.
          example: 0
        try_count:
          type: integer
          description: Number of dialing attempts made.
          example: 2
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign call was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign call was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the campaign call was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    CampaignManagerOutplan:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the outplan.
          example: "2b3c4d5e-6f7a-8901-bcde-f12345678901"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        name:
          type: string
          description: Name of the outplan.
          example: "Standard Outbound Plan"
        detail:
          type: string
          description: Detailed information about the outplan.
          example: "Default outbound dialing plan for campaigns"
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: Source address for outbound calls.
        dial_timeout:
          type: integer
          description: Dial timeout in milliseconds.
          example: 30000
        try_interval:
          type: integer
          description: Interval between dialing attempts in milliseconds.
          example: 60000
        max_try_count_0:
          type: integer
          description: Maximum number of tries for level 0.
          example: 3
        max_try_count_1:
          type: integer
          description: Maximum number of tries for level 1.
          example: 2
        max_try_count_2:
          type: integer
          description: Maximum number of tries for level 2.
          example: 1
        max_try_count_3:
          type: integer
          description: Maximum number of tries for level 3.
          example: 1
        max_try_count_4:
          type: integer
          description: Maximum number of tries for level 4.
          example: 1
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the outplan was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the outplan was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the outplan was deleted.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# AI Manager
#########################################
    AIManagerAIEngineType:
      type: string
      description: Type of engine used by the ai.
      example: "chatGPT"
      enum:
        - chatGPT
        - dialogflow
        - clova
      x-enum-varnames:
        - AIManagerAIEngineTypeChatGPT
        - AIManagerAIEngineTypeDialogFlow
        - AIManagerAIEngineTypeClova

    AIManagerAIEngineModel:
      type: string
      description: Model of the ai engine.
      example: "gpt-4o"
      enum:
        - o1-mini
        - o1-preview
        - o1
        - o3-mini
        - gpt-4o
        - gpt-4o-mini
        - gpt-4-turbo
        - gpt-4-vision-preview
        - gpt-4
        - gpt-3.5-turbo
      x-enum-varnames:
        - AIManagerAIEngineModelChatGPTO1Mini
        - AIManagerAIEngineModelChatGPTO1Preview
        - AIManagerAIEngineModelChatGPTO1
        - AIManagerAIEngineModelChatGPTO3Mini
        - AIManagerAIEngineModelChatGPT4O
        - AIManagerAIEngineModelChatGPT4OMini
        - AIManagerAIEngineModelChatGPT4Turbo
        - AIManagerAIEngineModelChatGPT4VisionPreview
        - AIManagerAIEngineModelChatGPT4
        - AIManagerAIEngineModelChatGPT3Dot5Turbo

    AIManagerAI:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the AI.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        name:
          type: string
          description: Name of the AI.
          example: "Customer Support Bot"
        detail:
          type: string
          description: Detailed information about the AI.
          example: "AI assistant for handling customer inquiries"
        engine_type:
          $ref: '#/components/schemas/AIManagerAIEngineType'
          description: Type of AI engine.
          example: "chatGPT"
        engine_model:
          $ref: '#/components/schemas/AIManagerAIEngineModel'
          description: Model of the AI engine.
          example: "gpt-4o"
        engine_data:
          type: object
          additionalProperties: true
          description: Custom key-value configuration data specific to the AI engine type.
        engine_key:
          type: string
          description: API key or authentication key for the AI engine. Write-only; not returned in responses.
          example: "sk-...redacted..."
        init_prompt:
          type: string
          description: Initial prompt to configure the AI's behavior.
          example: "You are a helpful customer support assistant."
        tts_type:
          type: string
          description: Text-to-speech provider type.
          example: "google"
        tts_voice_id:
          type: string
          description: Text-to-speech voice identifier.
          example: "en-US-Neural2-F"
        stt_type:
          type: string
          description: Speech-to-text provider type.
          example: "google"
        tool_names:
          type: array
          items:
            type: string
          description: List of tool names enabled for this AI. Use ["all"] to enable all available tools.
          example: ["all"]
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    AIManagerAIcallGender:
      type: string
      description: Gender associated with the ai call.
      example: "female"
      enum:
        - male
        - female
        - neutral
      x-enum-varnames:
        - AIManagerAIcallGenderMale
        - AIManagerAIcallGenderFemale
        - AIManagerAIcallGenderNeutral

    AIManagerAIcallReferenceType:
      type: string
      description: Type of reference associated with the ai call.
      example: "call"
      enum:
        - ""
        - call
      x-enum-varnames:
        - AIManagerAIcallReferenceTypeNone
        - AIManagerAIcallReferenceTypeCall

    AIManagerAIcallStatus:
      type: string
      description: Status of the ai call.
      example: "progressing"
      enum:
        - initiating
        - progressing
        - end
      x-enum-varnames:
        - AIManagerAIcallStatusInitiating
        - AIManagerAIcallStatusProgressing
        - AIManagerAIcallStatusEnd

    AIManagerAIcall:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the AI call.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        ai_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated AI. Returned from the `POST /ais` or `GET /ais` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        engine_type:
          $ref: '#/components/schemas/AIManagerAIEngineType'
          description: Type of AI engine.
          example: "chatGPT"
        engine_model:
          $ref: '#/components/schemas/AIManagerAIEngineModel'
          description: Model of the AI engine.
          example: "gpt-4o"
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the activeflow. Returned from the `GET /activeflows` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        reference_type:
          $ref: '#/components/schemas/AIManagerAIcallReferenceType'
          description: Type of reference associated with the AI call.
          example: "call"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "550e8400-e29b-41d4-a716-446655440000"
        confbridge_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the conference bridge. Returned from the `GET /confbridges` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        transcribe_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the transcription service. Returned from the `GET /transcribes` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        status:
          $ref: '#/components/schemas/AIManagerAIcallStatus'
          description: Status of the AI call.
          example: "progressing"
        gender:
          $ref: '#/components/schemas/AIManagerAIcallGender'
          description: Gender associated with the AI call.
          example: "female"
        language:
          type: string
          description: Language used during the AI call.
          example: "en-US"
        tm_end:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI call ended.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI call was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI call was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the AI call was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    AIManagerMessageDirection:
      type: string
      description: Direction of the message.
      example: "incoming"
      enum:
        - incoming
        - outgoing
      x-enum-varnames:
        - AIManagerMessageDirectionIncoming
        - AIManagerMessageDirectionOutgoing

    AIManagerMessageRole:
      type: string
      description: Role of the entity in the conversation.
      example: "assistant"
      enum:
        - system
        - user
        - assistant
        - function
        - tool
      x-enum-varnames:
        - AIManagerMessageRoleSystem
        - AIManagerMessageRoleUser
        - AIManagerMessageRoleAssistant
        - AIManagerMessageRoleFunction
        - AIManagerMessageRoleTool

    AIManagerMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the message.
          example: "550e8400-e29b-41d4-a716-446655440000"
        aicall_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated AI call. Returned from the `GET /aicalls` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        direction:
          $ref: '#/components/schemas/AIManagerMessageDirection'
          description: Direction of the message.
          example: "incoming"
        role:
          $ref: '#/components/schemas/AIManagerMessageRole'
          description: Role of the entity in the conversation.
          example: "assistant"
        content:
          type: string
          description: Content of the message.
          example: "Hello, how can I help you today?"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the message was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the message was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    AIManagerSummaryReferenceType:
      type: string
      description: Type of reference for the AI summary.
      example: "call"
      enum:
        - ""
        - "call"
        - "conference"
        - "transcribe"
        - "recording"
      x-enum-varnames:
        - AIManagerSummaryReferenceTypeNone
        - AIManagerSummaryReferenceTypeCall
        - AIManagerSummaryReferenceTypeConference
        - AIManagerSummaryReferenceTypeTranscribe
        - AIManagerSummaryReferenceTypeRecording

    AIManagerSummaryStatus:
      type: string
      description: Status of the AI summary generation.
      example: "progressing"
      enum:
        - ""
        - "progressing"
        - "done"
      x-enum-varnames:
        - AIManagerSummaryStatusNone
        - AIManagerSummaryStatusProgressing
        - AIManagerSummaryStatusDone

    AIManagerSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the summary.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the activeflow. Returned from the `GET /activeflows` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        on_end_flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the flow to execute when the summary completes. Returned from the `POST /flows` or `GET /flows` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        reference_type:
          $ref: '#/components/schemas/AIManagerSummaryReferenceType'
          description: Type of reference for the AI summary.
          example: "call"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "550e8400-e29b-41d4-a716-446655440000"
        status:
          $ref: '#/components/schemas/AIManagerSummaryStatus'
          description: Status of the AI summary generation.
          example: "progressing"
        language:
          type: string
          description: Language used for the AI summary.
          example: "en-US"
        content:
          type: string
          description: Content of the summary.
          example: "The customer called to inquire about their account balance and was assisted by the support agent."
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the summary was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the summary was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the summary was deleted.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Common
#########################################
    CommonAddress:
      type: object
      description: Contains source or destination detail info.
      properties:
        type:
          type: string
          description: Type of address.
          example: "tel"
          enum:
            - ""
            - agent
            - conference
            - email
            - extension
            - line
            - sip
            - tel
          x-enum-varnames:
            - CommonAddressTypeNone
            - CommonAddressTypeAgent
            - CommonAddressTypeConference
            - CommonAddressTypeEmail
            - CommonAddressTypeExtension
            - CommonAddressTypeLine
            - CommonAddressTypeSIP
            - CommonAddressTypeTel
        target:
          type: string
          description: "The address endpoint. Format depends on type: phone number for tel (e.g. +14155551234), UUID for agent/conference/extension, email for email, SIP URI for sip."
          example: "+14155551234"
        target_name:
          type: string
          description: Address's name.
          example: "John Smith"
        name:
          type: string
          description: "Optional label for this address."
          example: "Main Office"
        detail:
          type: string
          description: "Additional notes about this address."
          example: "Primary contact number"

    CommonPagination:
      type: object
      properties:
        next_page_token:
          type: string
          format: date-time
          x-go-type: string
          description: "Cursor token for the next page of results. Pass this value as the page_token parameter in the next request."
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Conference Manager
#########################################
    ConferenceManagerConferenceStatus:
      type: string
      description: Status of the conference.
      example: "progressing"
      enum:
        - starting
        - progressing
        - terminating
        - terminated
      x-enum-varnames:
        - ConferenceManagerConferenceStatusStarting
        - ConferenceManagerConferenceStatusProgressing
        - ConferenceManagerConferenceStatusTerminating
        - ConferenceManagerConferenceStatusTerminated
    ConferenceManagerConferenceType:
      type: string
      description: Types of conferences.
      example: "conference"
      enum:
        - ""
        - conference
        - connect
        - queue
      x-enum-varnames:
        - ConferenceManagerConferenceTypeNone
        - ConferenceManagerConferenceTypeConference
        - ConferenceManagerConferenceTypeConnect
        - ConferenceManagerConferenceTypeQueue
    ConferenceManagerConference:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: Unique identifier for the conference.
          example: "8b9c0d1e-2f3a-4567-0123-456789abcdef"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "Unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        type:
          $ref: '#/components/schemas/ConferenceManagerConferenceType'
          description: The type of conference.
          example: "conference"
        status:
          $ref: '#/components/schemas/ConferenceManagerConferenceStatus'
          description: Current status of the conference.
          example: "progressing"
        name:
          type: string
          description: Name of the conference.
          example: "Team Standup"
        detail:
          type: string
          description: Detailed information about the conference.
          example: "Daily team standup meeting"
        data:
          type: object
          description: "Custom key-value data associated with the conference."
          additionalProperties: true
        timeout:
          type: integer
          description: Timeout for the conference in seconds.
          format: int32
          example: 3600
        pre_flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the flow to execute before the conference starts. Returned from the `POST /flows` or `GET /flows` response."
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        post_flow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the flow to execute after the conference ends. Returned from the `POST /flows` or `GET /flows` response."
          example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        conferencecall_ids:
          type: array
          description: "List of associated conference call IDs. Each ID is returned from the `GET /conferencecalls` response."
          example: ["550e8400-e29b-41d4-a716-446655440000"]
          items:
            type: string
            format: uuid
            x-go-type: string
        recording_id:
          type: string
          format: uuid
          x-go-type: string
          description: "ID of the main recording associated with the conference. Returned from the `GET /recordings` response."
          example: "e5f6a7b8-c9d0-1234-5678-90abcdef0123"
        recording_ids:
          type: array
          description: "List of associated recording IDs. Each ID is returned from the `GET /recordings` response."
          example: ["e5f6a7b8-c9d0-1234-5678-90abcdef0123"]
          items:
            type: string
            format: uuid
            x-go-type: string
        transcribe_id:
          type: string
          format: uuid
          x-go-type: string
          description: "ID of the main transcription associated with the conference. Returned from the `GET /transcribes` response."
          example: "9c0d1e2f-3a4b-5678-1234-567890abcdef"
        transcribe_ids:
          type: array
          description: "List of associated transcription IDs. Each ID is returned from the `GET /transcribes` response."
          example: ["9c0d1e2f-3a4b-5678-1234-567890abcdef"]
          items:
            type: string
            format: uuid
            x-go-type: string
        tm_end:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference ended.
          example: "2026-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    ConferenceManagerConferencecallReferenceType:
      type: string
      description: Type of the reference associated with the conference call.
      example: "call"
      enum:
        - call
      x-enum-varnames:
        - ConferenceManagerConferencecallReferenceTypeCall
    ConferenceManagerConferencecallStatus:
      type: string
      description: Status of the conference call.
      example: "joined"
      enum:
        - joining
        - joined
        - leaving
        - leaved
      x-enum-varnames:
        - ConferenceManagerConferencecallStatusJoining
        - ConferenceManagerConferencecallStatusJoined
        - ConferenceManagerConferencecallStatusLeaving
        - ConferenceManagerConferencecallStatusLeaved
    ConferenceManagerConferencecall:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: Unique identifier for the conference call.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "Unique identifier of the associated customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        activeflow_id:
          type: string
          format: uuid
          x-go-type: string
          description: "Activeflow ID associated with this conference call. Returned from the `POST /activeflows` or `GET /activeflows` response."
          example: "d4e5f6a7-b8c9-0123-4567-890abcdef012"
        conference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "Unique identifier of the associated conference. Returned from the `GET /conferences` response."
          example: "8b9c0d1e-2f3a-4567-0123-456789abcdef"
        reference_type:
          $ref: '#/components/schemas/ConferenceManagerConferencecallReferenceType'
          description: Type of the reference associated with the conference call.
          example: "call"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
        status:
          $ref: '#/components/schemas/ConferenceManagerConferencecallStatus'
          description: Current status of the conference call.
          example: "joined"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference call was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference call was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conference call was deleted.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Contact Manager
#########################################
    ContactManagerContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the contact.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          description: Unique identifier of the associated customer.
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        first_name:
          type: string
          description: First name of the contact.
          example: "John"
        last_name:
          type: string
          description: Last name of the contact.
          example: "Smith"
        display_name:
          type: string
          description: Display name of the contact.
          example: "John Smith"
        company:
          type: string
          description: Company name associated with the contact.
          example: "Acme Corporation"
        job_title:
          type: string
          description: Job title of the contact.
          example: "Software Engineer"
        source:
          $ref: '#/components/schemas/ContactManagerContactSource'
          description: Source of the contact.
          example: "manual"
        external_id:
          type: string
          description: External identifier for the contact.
          example: "CRM-12345"
        phone_numbers:
          type: array
          description: List of phone numbers associated with the contact.
          items:
            $ref: '#/components/schemas/ContactManagerPhoneNumber'
        emails:
          type: array
          description: List of email addresses associated with the contact.
          items:
            $ref: '#/components/schemas/ContactManagerEmail'
        tag_ids:
          type: array
          description: List of tag IDs associated with the contact.
          example: ["b1a2c3d4-e5f6-7890-abcd-ef1234567890"]
          items:
            type: string
            format: uuid
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the contact was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          description: Timestamp when the contact was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          description: Timestamp when the contact was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    ContactManagerContactSource:
      type: string
      description: Source of the contact.
      example: "manual"
      enum:
        - manual
        - import
        - api
        - sync
      x-enum-varnames:
        - ContactManagerContactSourceManual
        - ContactManagerContactSourceImport
        - ContactManagerContactSourceAPI
        - ContactManagerContactSourceSync

    ContactManagerEmail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the email address.
          example: "550e8400-e29b-41d4-a716-446655440000"
        address:
          type: string
          format: email
          description: Email address.
          example: "john.smith@acme.com"
        type:
          $ref: '#/components/schemas/ContactManagerEmailType'
          description: Type of the email address.
          example: "work"
        is_primary:
          type: boolean
          description: Indicates if this is the primary email address.
          example: true
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the email was created.
          example: "2026-01-15T09:30:00.000000Z"

    ContactManagerEmailType:
      type: string
      description: Type of the email address.
      example: "work"
      enum:
        - work
        - personal
        - other
      x-enum-varnames:
        - ContactManagerEmailTypeWork
        - ContactManagerEmailTypePersonal
        - ContactManagerEmailTypeOther

    ContactManagerPhoneNumber:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the phone number.
          example: "550e8400-e29b-41d4-a716-446655440000"
        number:
          type: string
          description: Phone number as entered.
          example: "+14155551234"
        number_e164:
          type: string
          description: Phone number in E.164 format.
          example: "+14155551234"
        type:
          $ref: '#/components/schemas/ContactManagerPhoneNumberType'
          description: Type of the phone number.
          example: "mobile"
        is_primary:
          type: boolean
          description: Indicates if this is the primary phone number.
          example: true
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the phone number was created.
          example: "2026-01-15T09:30:00.000000Z"

    ContactManagerPhoneNumberType:
      type: string
      description: Type of the phone number.
      example: "mobile"
      enum:
        - mobile
        - work
        - home
        - fax
        - other
      x-enum-varnames:
        - ContactManagerPhoneNumberTypeMobile
        - ContactManagerPhoneNumberTypeWork
        - ContactManagerPhoneNumberTypeHome
        - ContactManagerPhoneNumberTypeFax
        - ContactManagerPhoneNumberTypeOther


#########################################
# Conversation Manager
#########################################
    ConversationManagerAccountType:
      type: string
      description: Type of the account.
      example: "sms"
      enum:
        - line
        - sms
      x-enum-varnames:
        - ConversationManagerAccountTypeLine
        - ConversationManagerAccountTypeSMS
    ConversationManagerAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the conversation account.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        type:
          $ref: '#/components/schemas/ConversationManagerAccountType'
          description: Type of messaging platform.
          example: "sms"
        name:
          type: string
          description: Name of the account.
          example: "Main SMS Account"
        detail:
          type: string
          description: Detailed information about the account.
          example: "Primary SMS messaging account"
        secret:
          type: string
          description: Webhook secret for signature verification. Write-only.
          example: "whsec_...redacted..."
        token:
          type: string
          description: API token for the messaging platform. Write-only.
          example: "xoxb_...redacted..."
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the account was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the account was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the account was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    ConversationManagerConversationReferenceType:
      type: string
      description: Type of the reference for the conversation.
      example: "message"
      enum:
        - ""
        - message
        - line
      x-enum-varnames:
        - ConversationManagerConversationReferenceTypeNone
        - ConversationManagerConversationReferenceTypeMessage
        - ConversationManagerConversationReferenceTypeLine
    ConversationManagerConversation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the conversation.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        owner_type:
          type: string
          description: Type of the conversation owner.
          example: "agent"
        owner_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the conversation owner. Returned from the corresponding owner resource endpoint (e.g., `GET /agents`)."
          example: "c2d3e4f5-a6b7-8901-2cde-f01234567890"
        account_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the conversation account. Returned from the `GET /conversation_accounts` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Name of the conversation.
          example: "Customer Support Chat"
        detail:
          type: string
          description: Detailed information about the conversation.
          example: "Support conversation with customer"
        reference_type:
          $ref: '#/components/schemas/ConversationManagerConversationReferenceType'
          description: Type of the reference for the conversation.
          example: "message"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
        source:
          description: The source address for the conversation.
          $ref: '#/components/schemas/CommonAddress'
        participants:
          type: array
          description: List of participants in the conversation.
          items:
            $ref: '#/components/schemas/CommonAddress'
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conversation was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conversation was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the conversation was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    ConversationManagerMediaType:
      type: string
      description: Type of the media.
      example: "image"
      enum:
        - image
        - video
        - audio
        - file
        - location
        - sticker
        - template
        - imagemap
        - flex
      x-enum-varnames:
        - ConversationManagerMediaTypeImage
        - ConversationManagerMediaTypeVideo
        - ConversationManagerMediaTypeAudio
        - ConversationManagerMediaTypeFile
        - ConversationManagerMediaTypeLocation
        - ConversationManagerMediaTypeSticker
        - ConversationManagerMediaTypeTemplate
        - ConversationManagerMediaTypeImagemap
        - ConversationManagerMediaTypeFlex
    ConversationManagerMedia:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the media.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        type:
          $ref: '#/components/schemas/ConversationManagerMediaType'
          description: Type of the media content.
          example: "image"
        filename:
          type: string
          description: Filename of the media.
          example: "photo_2026-01-15.jpg"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the media was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the media was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the media was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    ConversationManagerMessageDirection:
      type: string
      description: Direction of the message (incoming or outgoing).
      example: "incoming"
      enum:
        - outgoing
        - incoming
      x-enum-varnames:
        - ConversationManagerMessageDirectionOutgoing
        - ConversationManagerMessageDirectionIncoming
    ConversationManagerMessageReferenceType:
      type: string
      description: Type of reference associated with the message (e.g., call, campaign).
      example: "call"
      enum:
        - none
        - call
        - campaign
      x-enum-varnames:
        - ConversationManagerMessageReferenceTypeNone
        - ConversationManagerMessageReferenceTypeCall
        - ConversationManagerMessageReferenceTypeCampaign
    ConversationManagerMessageStatus:
      type: string
      description: Status of the message.
      example: "sent"
      enum:
        - sending
        - sent
        - failed
        - received
      x-enum-varnames:
        - ConversationManagerMessageStatusSending
        - ConversationManagerMessageStatusSent
        - ConversationManagerMessageStatusFailed
        - ConversationManagerMessageStatusReceived
    ConversationManagerMessage:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the message.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        conversation_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the conversation. Returned from the `GET /conversations` response."
          example: "550e8400-e29b-41d4-a716-446655440000"
        direction:
          $ref: '#/components/schemas/ConversationManagerMessageDirection'
          description: Direction of the message.
          example: "incoming"
        status:
          $ref: '#/components/schemas/ConversationManagerMessageStatus'
          description: Current delivery status of the message.
          example: "sent"
        reference_type:
          $ref: '#/components/schemas/ConversationManagerMessageReferenceType'
          description: Type of reference associated with the message.
          example: "call"
        reference_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the referenced resource. The actual resource type is determined by reference_type. Returned from the corresponding resource endpoint."
          example: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: Source address of the message.
        text:
          type: string
          description: The message content.
          example: "Hello, how can I help you today?"
        medias:
          type: array
          items:
            $ref: '#/components/schemas/ConversationManagerMedia'
          description: List of media associated with the message.
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the message was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the message was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the message was deleted.
          example: "2026-01-15T09:30:00.000000Z"


#########################################
# Customer Manager
#########################################
    CustomerManagerAccesskey:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the access key.
          example: "550e8400-e29b-41d4-a716-446655440000"
        customer_id:
          type: string
          format: uuid
          x-go-type: string
          description: "The unique identifier of the customer. Returned from the `GET /customers` response."
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        name:
          type: string
          description: Name of the access key.
          example: "Production API Key"
        detail:
          type: string
          description: Additional details about the access key.
          example: "API key for production environment"
        token:
          type: string
          description: The access key token. Only returned once at creation time.
          example: "ak_live_...redacted..."
        tm_expire:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the access key expires.
          example: "2027-01-15T09:30:00.000000Z"
        tm_create:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the access key was created.
          example: "2026-01-15T09:30:00.000000Z"
        tm_update:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the access key was last updated.
          example: "2026-01-15T09:30:00.000000Z"
        tm_delete:
          type: string
          format: date-time
          x-go-type: string
          description: Timestamp when the access key was deleted.
          example: "2026-01-15T09:30:00.000000Z"

    CustomerManagerCustomerWebhookMethod:
      type: string
      description: The HTTP method used for webhook (e.g., POST, GET, PUT, DELETE).
      example: "POST"
      enum:
        - ""
        - POST
        - GET
        - PUT
        - DELETE
      x-enum-varnames:
        - CustomerManagerCustomerWebhookMethodNone
        - CustomerManagerCustomerWebhookMethodPost
        - CustomerManagerCustomerWebhookMethodGet
        - CustomerManagerCustomerWebhookMethodPut
        - CustomerManagerCustomerWebhookMethodDelete
    CustomerManagerCustomerStatus:
      type: string
      description: Account lifecycle status.
      example: "active"
      enum:
        - active
        - frozen
        - deleted
      x-enum-varnames:
        - CustomerManagerCustomerStatusActive
        - CustomerManagerCustomerStatusFrozen
        - CustomerManagerCustomerStatusDeleted
    CustomerManagerCustomer:
      type: object
      properties:
        id:
          type: string
          format: uuid
          x-go-type: string
          description: The unique identifier of the customer.
          example: "7c4d2f3a-1b8e-4f5c-9a6d-3e2f1a0b4c5d"
        name:
          type: string
          description: Name of the customer.
          example: "Acme Corporation"
        detail:
          type: string
          description: Details about the customer.
          example: "Enterprise customer account"
        email:
          type: string
          format: email
          x-go-type: string
          description: Email address of the customer.
          example: "admin@acme.com"
        phone_number:
          type: string
          description: "Customer's contact phone number in E.164 format."
[...]
