openapi: 3.0.0
info:
  title: VoipBin API
  version: 1.0.0
  x-logo:
    url: "https://github.com/pchero/voipbin/blob/master/logos/voipbin-high-resolution-logo-black-transparent.png?raw=true"
    backgroundColor: "#FFFFFF"
    altText: "voipbin"
    href: "https://api.voipbin.net/docs/"
servers:
  - url: https://api.voipbin.net/v1.0

tags:
  - name: Auth
    description: Authentication operations
    externalDocs:
      description: Find more about authentication
      url: https://api.voipbin.net/docs/auth.html

  - name: Accesskey
    description: Operations related to accesskey
    externalDocs:
      description: Find more about accesskey
      url: https://api.voipbin.net/docs/accesskey.html

  - name: Activeflow
    description: Operations related to activeflow
    externalDocs:
      description: Find more about activeflow
      url: https://api.voipbin.net/docs/activeflow.html

  - name: Agent
    description: Operations related to agent
    externalDocs:
      description: Find more about agent
      url: https://api.voipbin.net/docs/agent.html

  - name: Billing
    description: Operations related to billing
    externalDocs:
      description: Find more about billing
      url: https://api.voipbin.net/docs/billing_account.html

  - name: Call
    description: Operations related to call
    externalDocs:
      description: Find more about call
      url: https://api.voipbin.net/docs/call.html

  - name: Campaign
    description: Operations related to campaign
    externalDocs:
      description: Find more about campaign
      url: https://api.voipbin.net/docs/campaign.html

  - name: AI
    description: Operations related to ai
    externalDocs:
      description: Find more about ai
      url: https://api.voipbin.net/docs/ai.html

  - name: Conference
    description: Operations related to conference
    externalDocs:
      description: Find more about conference
      url: https://api.voipbin.net/docs/conference.html

  - name: Conversation
    description: Operations related to conversation
    externalDocs:
      description: Find more about conversation
      url: https://api.voipbin.net/docs/conversation.html

  - name: Customer
    description: Operations related to customer
    externalDocs:
      description: Find more about customer
      url: https://api.voipbin.net/docs/customer.html

  - name: Extension
    description: Operations related to extension
    externalDocs:
      description: Find more about extension
      url: https://api.voipbin.net/docs/extension.html

  - name: File
    description: Operations related to file

  - name: Flow
    description: Operations related to flow
    externalDocs:
      description: Find more about flow
      url: https://api.voipbin.net/docs/flow.html

  - name: Groupcall
    description: Operations related to groupcall
    externalDocs:
      description: Find more about groupcall
      url: https://api.voipbin.net/docs/groupcall.html

  - name: Me
    description: Operations related to myself data

  - name: Message
    description: Operations related to message
    externalDocs:
      description: Find more about message
      url: https://api.voipbin.net/docs/message.html

  - name: Number
    description: Operations related to number
    externalDocs:
      description: Find more about number
      url: https://api.voipbin.net/docs/number.html

  - name: Outdial
    description: Operations related to outdial
    externalDocs:
      description: Find more about outdial
      url: https://api.voipbin.net/docs/outdial.html

  - name: Outplan
    description: Operations related to outplan
    externalDocs:
      description: Find more about outplan
      url: https://api.voipbin.net/docs/outplan.html

  - name: Provider
    description: Operations related to provider
    externalDocs:
      description: Find more about provider
      url: https://api.voipbin.net/docs/provider.html

  - name: Queue
    description: Operations related to queue
    externalDocs:
      description: Find more about queue
      url: https://api.voipbin.net/docs/queue.html

  - name: Recording
    description: Operations related to recording
    externalDocs:
      description: Find more about recording
      url: https://api.voipbin.net/docs/recording.html

  - name: Route
    description: Operations related to route
    externalDocs:
      description: Find more about route
      url: https://api.voipbin.net/docs/route.html

  - name: Service Agent
    description: Operations related to individual agent service

  - name: Storage
    description: Operations related to storage
    externalDocs:
      description: Find more about storage
      url: https://api.voipbin.net/docs/storage.html

  - name: Tag
    description: Operations related to tag
    externalDocs:
      description: Find more about tag
      url: https://api.voipbin.net/docs/tag.html

  - name: Transcribe
    description: Operations related to transcribe
    externalDocs:
      description: Find more about transcribe
      url: https://api.voipbin.net/docs/transcribe.html

  - name: Transfer
    description: Operations related to transfer
    externalDocs:
      description: Find more about transfer
      url: https://api.voipbin.net/docs/transfer.html

  - name: Trunk
    description: Operations related to trunk
    externalDocs:
      description: Find more about trunk
      url: https://api.voipbin.net/docs/trunk.html

  - name: Websocket
    description: Operations related to websocket
    externalDocs:
      description: Find more about websocket
      url: https://api.voipbin.net/docs/websocket.html

  - name: Timeline
    description: Operations related to timeline events


components:

  parameters:
    PageSize:
      name: page_size
      in: query
      description: The size of results.
      required: false
      schema:
        type: integer
    PageToken:
      name: page_token
      in: query
      description: The token. tm_create
      required: false
      schema:
        type: string


  schemas:

#########################################
# Auth
#########################################
    AuthLoginResponse:
      type: object
      description: Authentication response containing JWT token
      required:
        - username
        - token
      properties:
        username:
          type: string
          description: The authenticated username
          example: "user@example.com"
        token:
          type: string
          description: JWT token for API access
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

#########################################
# Agent Manager
#########################################
    AgentManagerAgentPermission:
      type: integer
      format: uint64
      description: Permission type
      example: 64
      enum:
        - 0    # PermissionNone
        - 65535 # PermissionAll
        - 1    # PermissionProjectSuperAdmin
        - 15   # PermissionProjectAll
        - 16   # PermissionCustomerAgent
        - 32   # PermissionCustomerAdmin
        - 64   # PermissionCustomerManager
        - 240  # PermissionCustomerAll
      x-enum-varnames:
        - AgentManagerPermissionNone
        - AgentManagerPermissionAll
        - AgentManagerPermissionProjectSuperAdmin
        - AgentManagerPermissionProjectAll
        - AgentManagerPermissionCustomerAgent
        - AgentManagerPermissionCustomerAdmin
        - AgentManagerPermissionCustomerManager
        - AgentManagerPermissionCustomerAll

    AgentManagerAgentRingMethod:
      type: string
      description: Represents an agent resource.
      enum:
        - ringall
        - linear
      x-enum-varnames:
        - AgentManagerAgentRingMethodRingAll
        - AgentManagerAgentRingMethodLinear

    AgentManagerAgentStatus:
      type: string
      description: Agent's status
      enum:
        - ""
        - available
        - away
        - busy
        - offline
        - ringing
      x-enum-varnames:
        - AgentManagerAgentStatusNone
        - AgentManagerAgentStatusAvailable
        - AgentManagerAgentStatusAway
        - AgentManagerAgentStatusBusy
        - AgentManagerAgentStatusOffline
        - AgentManagerAgentStatusRinging

    AgentManagerAgent:
      type: object
      description: Represents an agent resource.
      properties:
        id:
          type: string
        customer_id:
          type: string
          description: Resource's customer ID.
        username:
          type: string
          description: Agent's username.
        name:
          type: string
          description: Agent's name.
        detail:
          type: string
          description: Agent's detail.
        ring_method:
          $ref: '#/components/schemas/AgentManagerAgentRingMethod'
        status:
          $ref: '#/components/schemas/AgentManagerAgentStatus'
        permission:
          $ref: '#/components/schemas/AgentManagerAgentPermission'
        tag_ids:
          type: array
          items:
            type: string
          description: Agent's tag IDs.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: Agent's endpoint addresses.
        tm_create:
          type: string
          description: Created timestamp.
        tm_update:
          type: string
          description: Updated timestamp.
        tm_delete:
          type: string
          description: Deleted timestamp.


#########################################
# Billing Manager
#########################################
    BillingManagerAccountPaymentMethod:
      type: string
      description: The method of payment used for the account.
      enum:
        - ""
        - credit card
      x-enum-varnames:
        - BillingManagerAccountPaymentMethodNone
        - BillingManagerAccountPaymentMethodCreditCard

    BillingManagerAccountPaymentType:
      type: string
      description: The type of payment associated with the account.
      enum:
        - ""
        - prepaid
      x-enum-varnames:
        - BillingManagerAccountPaymentTypeNone
        - BillingManagerAccountPaymentTypePrepaid

    BillingManagerAccount:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the account.
        customer_id:
          type: string
          description: The unique identifier of the associated customer.
        name:
          type: string
          description: The name of the account.
        detail:
          type: string
          description: Additional details about the account.
        balance:
          type: number
          format: float
          description: The balance of the account in USD.
        payment_type:
          $ref: '#/components/schemas/BillingManagerAccountPaymentType'
        payment_method:
          $ref: '#/components/schemas/BillingManagerAccountPaymentMethod'
        tm_create:
          type: string
          description: The timestamp when the account was created.
        tm_update:
          type: string
          description: The timestamp when the account was last updated.
        tm_delete:
          type: string
          description: The timestamp when the account was deleted, if applicable.

    BillingManagerBillingreferenceType:
      type: string
      description: The type of reference associated with this billing.
      enum:
        - ""
        - call
        - sms
        - number
        - number_renew
      x-enum-varnames:
        - BillingManagerBillingreferenceTypeNone
        - BillingManagerBillingreferenceTypeCall
        - BillingManagerBillingreferenceTypeSMS
        - BillingManagerBillingreferenceTypeNumber
        - BillingManagerBillingreferenceTypeNumberRenew
    BillingManagerBillingStatus:
      type: string
      description: Status of the billing.
      enum:
        - progressing
        - end
        - pending
        - finished
      x-enum-varnames:
        - BillingManagerBillingStatusProgressing
        - BillingManagerBillingStatusEnd
        - BillingManagerBillingStatusPending
        - BillingManagerBillingStatusFinished

    BillingManagerBilling:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the billing.
        customer_id:
          type: string
          description: The customer's unique identifier.
        account_id:
          type: string
          description: The billing account ID.
        status:
          $ref: '#/components/schemas/BillingManagerBillingStatus'
        reference_type:
          $ref: '#/components/schemas/BillingManagerBillingreferenceType'
        reference_id:
          type: string
          description: The ID of the reference related to this billing.
        cost_per_unit:
          type: number
          format: float
          description: The cost per billing unit.
        cost_total:
          type: number
          format: float
          description: The total cost of this billing.
        billing_unit_count:
          type: number
          format: float
          description: The total count of billing units.
        tm_billing_start:
          type: string
          description: The start timestamp of the billing period.
        tm_billing_end:
          type: string
          description: The end timestamp of the billing period.
        tm_create:
          type: string
          description: The creation timestamp.
        tm_update:
          type: string
          description: The last update timestamp.
        tm_delete:
          type: string
          description: The deletion timestamp, if applicable.


#########################################
# Call Manager
#########################################
    CallManagerCallDirection:
      type: string
      description: Call direction
      enum:
        - incoming
        - outgoing
      x-enum-varnames:
        - CallManagerCallDirectionIncoming
        - CallManagerCallDirectionOutgoing
    CallManagerCallHangupBy:
      type: string
      description: Indicates who hung up the call
      enum:
        - ""
        - remote
        - local
      x-enum-varnames:
        - CallManagerCallHangupByNone
        - CallManagerCallHangupByRemote
        - CallManagerCallHangupByLocal
    CallManagerCallHangupReason:
      type: string
      description: Reason for call hangup
      enum:
        - ""
        - normal
        - failed
        - busy
        - cancel
        - timeout
        - noanswer
        - dialout
        - amd
      x-enum-varnames:
        - CallManagerCallHangupReasonNone
        - CallManagerCallHangupReasonNormal
        - CallManagerCallHangupReasonFailed
        - CallManagerCallHangupReasonBusy
        - CallManagerCallHangupReasonCancel
        - CallManagerCallHangupReasonTimeout
        - CallManagerCallHangupReasonNoanswer
        - CallManagerCallHangupReasonDialout
        - CallManagerCallHangupReasonAMD
    CallManagerCallMuteDirection:
      type: string
      description: Possible mute directions for the call
      enum:
        - ""
        - both
        - out
        - in
      x-enum-varnames:
        - CallManagerCallMuteDirectionNone
        - CallManagerCallMuteDirectionBoth
        - CallManagerCallMuteDirectionOut
        - CallManagerCallMuteDirectionIn
    CallManagerCallStatus:
      type: string
      description: Call status
      enum:
        - dialing
        - ringing
        - progressing
        - terminating
        - canceling
        - hangup
      x-enum-varnames:
        - CallManagerCallStatusDialing
        - CallManagerCallStatusRinging
        - CallManagerCallStatusProgressing
        - CallManagerCallStatusTerminating
        - CallManagerCallStatusCanceling
        - CallManagerCallStatusHangup
    CallManagerCallType:
      type: string
      description: Call type
      enum:
        - ""
        - flow
        - conference
        - sip-service
      x-enum-varnames:
        - CallManagerCallTypeNone
        - CallManagerCallTypeFlow
        - CallManagerCallTypeConference
        - CallManagerCallTypeSIPService
    CallManagerCall:
      type: object
      properties:
        id:
          type: string
          description: Resource identifier
        customer_id:
          type: string
          description: Resource's customer ID
        owner_type:
          type: string
          description: Resource's owner type
        owner_id:
          type: string
          description: Resource's owner ID
        flow_id:
          type: string
          description: Flow ID
        activeflow_id:
          type: string
          description: Activeflow ID
        type:
          $ref: '#/components/schemas/CallManagerCallType'
        master_call_id:
          type: string
          description: Master call ID
        chained_call_ids:
          type: array
          items:
            type: string
          description: Chained call IDs
        recording_id:
          type: string
          description: Current recording ID
        recording_ids:
          type: array
          items:
            type: string
          description: Recording IDs
        groupcall_id:
          type: string
          description: Group call ID, indicates if this call is part of a group call
        source:
          $ref: '#/components/schemas/CommonAddress'
        destination:
          $ref: '#/components/schemas/CommonAddress'
        status:
          $ref: '#/components/schemas/CallManagerCallStatus'
        action:
          $ref: '#/components/schemas/FlowManagerAction'
        direction:
          $ref: '#/components/schemas/CallManagerCallDirection'
        mute_direction:
          $ref: '#/components/schemas/CallManagerCallMuteDirection'
        hangup_by:
          $ref: '#/components/schemas/CallManagerCallHangupBy'
        hangup_reason:
          $ref: '#/components/schemas/CallManagerCallHangupReason'
        tm_progressing:
          type: string
          description: Timestamp for call progressing
        tm_ringing:
          type: string
          description: Timestamp for call ringing
        tm_hangup:
          type: string
          description: Timestamp for call hangup
        tm_create:
          type: string
          description: Creation timestamp
        tm_update:
          type: string
          description: Update timestamp
        tm_delete:
          type: string
          description: Deletion timestamp

    CallManagerGroupcallAnswerMethod:
      type: string
      description: Method to handle answered calls
      enum:
        - ""
        - hangup_others
      x-enum-varnames:
        - CallManagerGroupcallAnswerMethodNone
        - CallManagerGroupcallAnswerMethodHangupOthers
    CallManagerGroupcallRingMethod:
      type: string
      description: Method used for dialing
      enum:
        - ""
        - ring_all
        - linear
      x-enum-varnames:
        - CallManagerGroupcallRingMethodNone
        - CallManagerGroupcallRingMethodRingAll
        - CallManagerGroupcallRingMethodLinear
    CallManagerGroupcallStatus:
      type: string
      description: Current status of the call or group call
      enum:
        - progressing
        - hangingup
        - hangup
      x-enum-varnames:
        - CallManagerGroupcallStatusProgressing
        - CallManagerGroupcallStatusHangingup
        - CallManagerGroupcallStatusHangup
    CallManagerGroupcall:
      type: object
      description: Call or group call information
      properties:
        id:
          type: string
          description: Resource identifier
        customer_id:
          type: string
          description: Resource's customer ID
        owner_type:
          type: string
          description: Resource's owner type
        owner_id:
          type: string
          description: Resource's owner ID
        status:
          $ref: '#/components/schemas/CallManagerGroupcallStatus'
        flow_id:
          type: string
          description: ID of the associated flow
        source:
          $ref: '#/components/schemas/CommonAddress'
          nullable: true
          description: Source address
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: List of destination addresses
        master_call_id:
          type: string
          nullable: true
          description: ID of the master call, if applicable
        master_groupcall_id:
          type: string
          nullable: true
          description: ID of the master group call, if applicable
        ring_method:
          $ref: '#/components/schemas/CallManagerGroupcallRingMethod'
        answer_method:
          $ref: '#/components/schemas/CallManagerGroupcallAnswerMethod'
        answer_call_id:
          type: string
          description: ID of the answered call
        call_ids:
          type: array
          items:
            type: string
          description: List of associated call IDs
        answer_groupcall_id:
          type: string
          description: ID of the answered group call
        groupcall_ids:
          type: array
          items:
            type: string
          description: List of associated group call IDs
        call_count:
          type: integer
          description: Number of remaining calls in the current dial
        groupcall_count:
          type: integer
          description: Number of remaining group calls in the current dial
        dial_index:
          type: integer
          nullable: true
          description: Current dial index, valid only when the ring method is "ring_all"
        tm_create:
          type: string
          description: Timestamp when the call was created
        tm_update:
          type: string
          description: Timestamp when the call was last updated
        tm_delete:
          type: string
          nullable: true
          description: Timestamp when the call was deleted

    CallManagerRecordingFormat:
      type: string
      description: The format of the recording.
      enum:
        - wav
      x-enum-varnames:
        -CallManagerRecordingFormatWAV
    CallManagerRecordingReferenceType:
      type: string
      description: Type of reference for the recording.
      enum:
        - call
        - confbridge
      x-enum-varnames:
        - CallManagerRecordingReferenceTypeCall
        - CallManagerRecordingReferenceTypeConfbridge
    CallManagerRecordingStatus:
      type: string
      description: The status of the recording.
      enum:
        - initiating
        - recording
        - stopping
        - ended
      x-enum-varnames:
        - CallManagerRecordingStatusInitiating
        - CallManagerRecordingStatusRecording
        - CallManagerRecordingStatusStopping
        - CallManagerRecordingStatusEnded
    CallManagerRecording:
      type: object
      properties:
        id:
          type: string
          description: Resource identifier
        customer_id:
          type: string
          description: Resource's customer ID
        owner_type:
          type: string
          description: Resource's owner type
        owner_id:
          type: string
          description: Resource's owner ID
        reference_type:
          description: The type of reference, either a "call" or a "confbridge".
          $ref: '#/components/schemas/CallManagerRecordingReferenceType'
        reference_id:
          type: string
          description: The UUID of the reference.
        status:
          $ref: '#/components/schemas/CallManagerRecordingStatus'
          description: The status of the recording.
        format:
          $ref: '#/components/schemas/CallManagerRecordingFormat'
          description: The format of the recording file (e.g., WAV).
        activeflow_id:
          type: string
          description: Activeflow ID associated with this recording.
        on_end_flow_id:
          type: string
          description: Flow ID to be executed when recording ends.
        tm_start:
          type: string
          description: The start timestamp of the recording.
        tm_end:
          type: string
          description: The end timestamp of the recording.
        tm_create:
          type: string
          description: The creation timestamp of the recording.
        tm_update:
          type: string
          description: The last update timestamp of the recording.
        tm_delete:
          type: string
          description: The timestamp when the recording was deleted.


#########################################
# Campaign Manager
#########################################
    CampaignManagerCampaignEndHandle:
      type: string
      description: Behavior of the campaign after outdial has no more targets.
      enum:
        - stop
        - continue
      x-enum-varnames:
        - CampaignManagerCampaignEndHandleStop
        - CampaignManagerCampaignEndHandleContinue
    CampaignManagerCampaignExecute:
      type: string
      description: Execution action for the campaign.
      enum:
        - run
        - stop
      x-enum-varnames:
        - CampaignManagerCampaignExecuteRun
        - CampaignManagerCampaignExecuteStop
    CampaignManagerCampaignStatus:
      type: string
      description: Status of the campaign.
      enum:
        - stop
        - stopping
        - run
      x-enum-varnames:
        - CampaignManagerCampaignStatusStop
        - CampaignManagerCampaignStatusStopping
        - CampaignManagerCampaignStatusRun
    CampaignManagerCampaignType:
      type: string
      description: Type of campaign.
      enum:
        - call
        - flow
      x-enum-varnames:
        - CampaignManagerCampaignTypeCall
        - CampaignManagerCampaignTypeFlow
    CampaignManagerCampaign:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        type:
          $ref: '#/components/schemas/CampaignManagerCampaignType'
        name:
          type: string
        detail:
          type: string
        status:
          $ref: '#/components/schemas/CampaignManagerCampaignStatus'
        service_level:
          type: integer
        end_handle:
          $ref: '#/components/schemas/CampaignManagerCampaignEndHandle'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/FlowManagerAction'
        outplan_id:
          type: string
        outdial_id:
          type: string
        queue_id:
          type: string
        next_campaign_id:
          type: string
        tm_create:
          type: string
        tm_update:
          type: string
        tm_delete:
          type: string

    CampaignManagerCampaigncallReferenceType:
      type: string
      enum:
        - none
        - call
        - flow
      x-enum-varnames:
        - CampaignManagerCampaigncallReferenceTypeNone
        - CampaignManagerCampaigncallReferenceTypeCall
        - CampaignManagerCampaigncallReferenceTypeFlow
    CampaignManagerCampaigncallResult:
      type: string
      enum:
        - ""
        - success
        - fail
      x-enum-varnames:
        - CampaignManagerCampaigncallResultNone
        - CampaignManagerCampaigncallResultSuccess
        - CampaignManagerCampaigncallResultFail
    CampaignManagerCampaigncallStatus:
      type: string
      enum:
        - dialing
        - progressing
        - done
      x-enum-varnames:
        - CampaignManagerCampaigncallStatusDialing
        - CampaignManagerCampaigncallStatusProgressing
        - CampaignManagerCampaigncallStatusDone
    CampaignManagerCampaigncall:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the campaign call.
        customer_id:
          type: string
          description: Identifier of the customer.
        campaign_id:
          type: string
          description: Identifier of the campaign.
        outplan_id:
          type: string
          description: Identifier of the outbound plan.
        outdial_id:
          type: string
          description: Identifier of the outbound dial.
        outdial_target_id:
          type: string
          description: Identifier of the outbound dial target.
        queue_id:
          type: string
          description: Identifier of the queue.
        activeflow_id:
          type: string
          description: Identifier of the activeflow.
        flow_id:
          type: string
          description: Identifier of the flow.
        reference_type:
          $ref: '#/components/schemas/CampaignManagerCampaigncallReferenceType'
        reference_id:
          type: string
          description: Identifier of the reference.
        status:
          $ref: '#/components/schemas/CampaignManagerCampaigncallStatus'
        result:
          $ref: '#/components/schemas/CampaignManagerCampaigncallResult'
        source:
          $ref: '#/components/schemas/CommonAddress'
        destination:
          $ref: '#/components/schemas/CommonAddress'
        destination_index:
          type: integer
          description: Index of the destination.
        try_count:
          type: integer
          description: Number of dialing attempts.
        tm_create:
          type: string
          description: Timestamp when the campaign call was created.
        tm_update:
          type: string
          description: Timestamp when the campaign call was last updated.
        tm_delete:
          type: string
          description: Timestamp when the campaign call was deleted.

    CampaignManagerOutplan:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the outplan.
        customer_id:
          type: string
          description: Identifier of the customer.
        name:
          type: string
          description: Name of the outplan.
        detail:
          type: string
          description: Detailed information about the outplan.
        source:
          $ref: '#/components/schemas/CommonAddress'
        dial_timeout:
          type: integer
          description: Dial timeout in milliseconds.
        try_interval:
          type: integer
          description: Interval between dialing attempts in milliseconds.
        max_try_count_0:
          type: integer
          description: Maximum number of tries for level 0.
        max_try_count_1:
          type: integer
          description: Maximum number of tries for level 1.
        max_try_count_2:
          type: integer
          description: Maximum number of tries for level 2.
        max_try_count_3:
          type: integer
          description: Maximum number of tries for level 3.
        max_try_count_4:
          type: integer
          description: Maximum number of tries for level 4.
        tm_create:
          type: string
          description: Timestamp when the outplan was created.
        tm_update:
          type: string
          description: Timestamp when the outplan was last updated.
        tm_delete:
          type: string
          description: Timestamp when the outplan was deleted.


#########################################
# AI Manager
#########################################
    AIManagerAIEngineType:
      type: string
      description: Type of engine used by the ai.
      enum:
        - chatGPT
        - dialogflow
        - clova
      x-enum-varnames:
        - AIManagerAIEngineTypeChatGPT
        - AIManagerAIEngineTypeDialogFlow
        - AIManagerAIEngineTypeClova

    AIManagerAIEngineModel:
      type: string
      description: Model of the ai engine.
      enum:
        - o1-mini
        - o1-preview
        - o1
        - o3-mini
        - gpt-4o
        - gpt-4o-mini
        - gpt-4-turbo
        - gpt-4-vision-preview
        - gpt-4
        - gpt-3.5-turbo
      x-enum-varnames:
        - AIManagerAIEngineModelChatGPTO1Mini
        - AIManagerAIEngineModelChatGPTO1Preview
        - AIManagerAIEngineModelChatGPTO1
        - AIManagerAIEngineModelChatGPTO3Mini
        - AIManagerAIEngineModelChatGPT4O
        - AIManagerAIEngineModelChatGPT4OMini
        - AIManagerAIEngineModelChatGPT4Turbo
        - AIManagerAIEngineModelChatGPT4VisionPreview
        - AIManagerAIEngineModelChatGPT4
        - AIManagerAIEngineModelChatGPT3Dot5Turbo

    AIManagerAI:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the ai.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        name:
          type: string
          description: Name of the ai.
        detail:
          type: string
          description: Detailed information about the ai.
        engine_type:
          $ref: '#/components/schemas/AIManagerAIEngineType'
        engine_model:
          $ref: '#/components/schemas/AIManagerAIEngineModel'
        engine_data:
          type: object
          additionalProperties: true
          description: Data associated with the ai's engine, can be dynamic and vary based on the engine type.
        engine_key:
          type: string
          description: API key or authentication key for the ai engine.
        init_prompt:
          type: string
          description: Initial prompt to configure the ai's behavior.
        tts_type:
          type: string
          description: Text-to-speech type used by the ai.
        tts_voice_id:
          type: string
          description: Identifier for the text-to-speech voice.
        stt_type:
          type: string
          description: Speech-to-text type used by the ai.
        tool_names:
          type: array
          items:
            type: string
          description: List of tool names enabled for this AI. Use ["all"] to enable all available tools.
        tm_create:
          type: string
          description: Timestamp when the ai was created.
        tm_update:
          type: string
          description: Timestamp when the ai was last updated.
        tm_delete:
          type: string
          description: Timestamp when the ai was deleted.

    AIManagerAIcallGender:
      type: string
      description: Gender associated with the ai call.
      enum:
        - male
        - female
        - neutral
      x-enum-varnames:
        - AIManagerAIcallGenderMale
        - AIManagerAIcallGenderFemale
        - AIManagerAIcallGenderNeutral

    AIManagerAIcallReferenceType:
      type: string
      description: Type of reference associated with the ai call.
      enum:
        - ""
        - call
      x-enum-varnames:
        - AIManagerAIcallReferenceTypeNone
        - AIManagerAIcallReferenceTypeCall

    AIManagerAIcallStatus:
      type: string
      description: Status of the ai call.
      enum:
        - initiating
        - progressing
        - end
      x-enum-varnames:
        - AIManagerAIcallStatusInitiating
        - AIManagerAIcallStatusProgressing
        - AIManagerAIcallStatusEnd

    AIManagerAIcall:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the ai call.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        ai_id:
          type: string
          description: Unique identifier of the associated ai.
        engine_type:
          $ref: '#/components/schemas/AIManagerAIEngineType'
        engine_model:
          $ref: '#/components/schemas/AIManagerAIEngineModel'
        activeflow_id:
          type: string
          description: Unique identifier for the activeflow.
        reference_type:
          $ref: '#/components/schemas/AIManagerAIcallReferenceType'
        reference_id:
          type: string
          description: Unique identifier for the reference.
        confbridge_id:
          type: string
          description: Unique identifier for the conference bridge.
        transcribe_id:
          type: string
          description: Unique identifier for the transcription service.
        status:
          $ref: '#/components/schemas/AIManagerAIcallStatus'
        gender:
          $ref: '#/components/schemas/AIManagerAIcallGender'
        language:
          type: string
          description: Language used during the ai call.
        tm_end:
          type: string
          description: Timestamp when the ai call ended.
        tm_create:
          type: string
          description: Timestamp when the ai call was created.
        tm_update:
          type: string
          description: Timestamp when the ai call was last updated.
        tm_delete:
          type: string
          description: Timestamp when the ai call was deleted.

    AIManagerMessageDirection:
      type: string
      description: Direction of the message.
      enum:
        - incoming
        - outgoing
      x-enum-varnames:
        - AIManagerMessageDirectionIncoming
        - AIManagerMessageDirectionOutgoing

    AIManagerMessageRole:
      type: string
      description: Role of the entity in the conversation.
      enum:
        - system
        - user
        - assistant
        - function
        - tool
      x-enum-varnames:
        - AIManagerMessageRoleSystem
        - AIManagerMessageRoleUser
        - AIManagerMessageRoleAssistant
        - AIManagerMessageRoleFunction
        - AIManagerMessageRoleTool

    AIManagerMessage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        aicall_id:
          type: string
          description: Unique identifier for the associated ai call.
        direction:
          $ref: '#/components/schemas/AIManagerMessageDirection'
          description: Direction of the message.
        role:
          $ref: '#/components/schemas/AIManagerMessageRole'
          description: Role of the entity in the conversation.
        content:
          type: string
          description: Content of the message.
        tm_create:
          type: string
          description: Timestamp when the message was created.
        tm_delete:
          type: string
          description: Timestamp when the message was deleted.

    AIManagerSummaryReferenceType:
      type: string
      enum:
        - ""
        - "call"
        - "conference"
        - "transcribe"
        - "recording"
      x-enum-varnames:
        - AIManagerSummaryReferenceTypeNone
        - AIManagerSummaryReferenceTypeCall
        - AIManagerSummaryReferenceTypeConference
        - AIManagerSummaryReferenceTypeTranscribe
        - AIManagerSummaryReferenceTypeRecording

    AIManagerSummaryStatus:
      type: string
      enum:
        - ""
        - "progressing"
        - "done"
      x-enum-varnames:
        - AIManagerSummaryStatusNone
        - AIManagerSummaryStatusProgressing
        - AIManagerSummaryStatusDone

    AIManagerSummary:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        activeflow_id:
          type: string
          description: Unique identifier for the activeflow.
        on_end_flow_id:
          type: string
          description: Unique identifier for the on end flow.
        reference_type:
          $ref: '#/components/schemas/AIManagerSummaryReferenceType'
        reference_id:
          type: string
          description: Unique identifier for the reference.
        status:
          $ref: '#/components/schemas/AIManagerSummaryStatus'
        language:
          type: string
          description: Language used during the ai call.
        content:
          type: string
          description: Content of the message.
        tm_create:
          type: string
          description: Timestamp when the message was created.
        tm_update:
          type: string
          description: Timestamp when the message was last updated.
        tm_delete:
          type: string
          description: Timestamp when the message was deleted.


#########################################
# Common
#########################################
    CommonAddress:
      type: object
      description: Contains source or destination detail info.
      properties:
        type:
          type: string
          description: Type of address.
          enum:
            - ""
            - agent
            - conference
            - email
            - extension
            - line
            - sip
            - tel
          x-enum-varnames:
            - CommonAddressTypeNone
            - CommonAddressTypeAgent
            - CommonAddressTypeConference
            - CommonAddressTypeEmail
            - CommonAddressTypeExtension
            - CommonAddressTypeLine
            - CommonAddressTypeSIP
            - CommonAddressTypeTel
        target:
          type: string
          description: Address endpoint.
        target_name:
          type: string
          description: Address's name.
        name:
          type: string
          description: Name.
        detail:
          type: string
          description: Detail description.

    CommonPagination:
      type: object
      properties:
        next_page_token:
          type: string
          description: The token for next pagination.


#########################################
# Conference Manager
#########################################
    ConferenceManagerConferenceStatus:
      type: string
      description: Status of the conference.
      enum:
        - starting
        - progressing
        - terminating
        - terminated
      x-enum-varnames:
        - ConferenceManagerConferenceStatusStarting
        - ConferenceManagerConferenceStatusProgressing
        - ConferenceManagerConferenceStatusTerminating
        - ConferenceManagerConferenceStatusTerminated
    ConferenceManagerConferenceType:
      type: string
      description: Types of conferences.
      enum:
        - ""
        - conference
        - connect
        - queue
      x-enum-varnames:
        - ConferenceManagerConferenceTypeNone
        - ConferenceManagerConferenceTypeConference
        - ConferenceManagerConferenceTypeConnect
        - ConferenceManagerConferenceTypeQueue
    ConferenceManagerConference:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the conference.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        type:
          $ref: '#/components/schemas/ConferenceManagerConferenceType'
        status:
          $ref: '#/components/schemas/ConferenceManagerConferenceStatus'
        name:
          type: string
          description: Name of the conference.
        detail:
          type: string
          description: Detailed information about the conference.
        data:
          type: object
          description: Custom data associated with the conference.
          additionalProperties: true
        timeout:
          type: integer
          description: Timeout for the conference in seconds.
          format: int32
        pre_flow_id:
          type: string
          description: ID of the pre-flow to execute before the conference starts.
        post_flow_id:
          type: string
          description: ID of the post-flow to execute after the conference ends.
        conferencecall_ids:
          type: array
          description: List of associated conference call IDs.
          items:
            type: string
        recording_id:
          type: string
          description: ID of the main recording associated with the conference.
        recording_ids:
          type: array
          description: List of associated recording IDs.
          items:
            type: string
        transcribe_id:
          type: string
          description: ID of the main transcription associated with the conference.
        transcribe_ids:
          type: array
          description: List of associated transcription IDs.
          items:
            type: string
        tm_end:
          type: string
          description: Timestamp when the conference ended.
        tm_create:
          type: string
          description: Timestamp when the conference was created.
        tm_update:
          type: string
          description: Timestamp when the conference was last updated.
        tm_delete:
          type: string
          description: Timestamp when the conference was deleted.

    ConferenceManagerConferencecallReferenceType:
      type: string
      description: Type of the reference associated with the conference call.
      enum:
        - call
      x-enum-varnames:
        - ConferenceManagerConferencecallReferenceTypeCall
    ConferenceManagerConferencecallStatus:
      type: string
      description: Status of the conference call.
      enum:
        - joining
        - joined
        - leaving
        - leaved
      x-enum-varnames:
        - ConferenceManagerConferencecallStatusJoining
        - ConferenceManagerConferencecallStatusJoined
        - ConferenceManagerConferencecallStatusLeaving
        - ConferenceManagerConferencecallStatusLeaved
    ConferenceManagerConferencecall:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the conference call.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        activeflow_id:
          type: string
          description: Activeflow ID associated with this conference call.
        conference_id:
          type: string
          description: Unique identifier of the associated conference.
        reference_type:
          $ref: '#/components/schemas/ConferenceManagerConferencecallReferenceType'
        reference_id:
          type: string
          description: Unique identifier of the reference (e.g., call ID).
        status:
          $ref: '#/components/schemas/ConferenceManagerConferencecallStatus'
        tm_create:
          type: string
          description: Timestamp when the conference call was created.
        tm_update:
          type: string
          description: Timestamp when the conference call was last updated.
        tm_delete:
          type: string
          description: Timestamp when the conference call was deleted.


#########################################
# Contact Manager
#########################################
    ContactManagerContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the contact.
        customer_id:
          type: string
          format: uuid
          description: Unique identifier of the associated customer.
        first_name:
          type: string
          description: First name of the contact.
        last_name:
          type: string
          description: Last name of the contact.
        display_name:
          type: string
          description: Display name of the contact.
        company:
          type: string
          description: Company name associated with the contact.
        job_title:
          type: string
          description: Job title of the contact.
        source:
          $ref: '#/components/schemas/ContactManagerContactSource'
        external_id:
          type: string
          description: External identifier for the contact.
        phone_numbers:
          type: array
          description: List of phone numbers associated with the contact.
          items:
            $ref: '#/components/schemas/ContactManagerPhoneNumber'
        emails:
          type: array
          description: List of email addresses associated with the contact.
          items:
            $ref: '#/components/schemas/ContactManagerEmail'
        tag_ids:
          type: array
          description: List of tag IDs associated with the contact.
          items:
            type: string
            format: uuid
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the contact was created.
        tm_update:
          type: string
          format: date-time
          description: Timestamp when the contact was last updated.
        tm_delete:
          type: string
          format: date-time
          description: Timestamp when the contact was deleted.

    ContactManagerContactSource:
      type: string
      description: Source of the contact.
      enum:
        - manual
        - import
        - api
        - sync
      x-enum-varnames:
        - ContactManagerContactSourceManual
        - ContactManagerContactSourceImport
        - ContactManagerContactSourceAPI
        - ContactManagerContactSourceSync

    ContactManagerEmail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the email address.
        address:
          type: string
          format: email
          description: Email address.
        type:
          $ref: '#/components/schemas/ContactManagerEmailType'
        is_primary:
          type: boolean
          description: Indicates if this is the primary email address.
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the email was created.

    ContactManagerEmailType:
      type: string
      description: Type of the email address.
      enum:
        - work
        - personal
        - other
      x-enum-varnames:
        - ContactManagerEmailTypeWork
        - ContactManagerEmailTypePersonal
        - ContactManagerEmailTypeOther

    ContactManagerPhoneNumber:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the phone number.
        number:
          type: string
          description: Phone number as entered.
        number_e164:
          type: string
          description: Phone number in E.164 format.
        type:
          $ref: '#/components/schemas/ContactManagerPhoneNumberType'
        is_primary:
          type: boolean
          description: Indicates if this is the primary phone number.
        tm_create:
          type: string
          format: date-time
          description: Timestamp when the phone number was created.

    ContactManagerPhoneNumberType:
      type: string
      description: Type of the phone number.
      enum:
        - mobile
        - work
        - home
        - fax
        - other
      x-enum-varnames:
        - ContactManagerPhoneNumberTypeMobile
        - ContactManagerPhoneNumberTypeWork
        - ContactManagerPhoneNumberTypeHome
        - ContactManagerPhoneNumberTypeFax
        - ContactManagerPhoneNumberTypeOther


#########################################
# Conversation Manager
#########################################
    ConversationManagerAccountType:
      type: string
      description: Type of the account.
      enum:
        - line
        - sms
      x-enum-varnames:
        - ConversationManagerAccountTypeLine
        - ConversationManagerAccountTypeSMS
    ConversationManagerAccount:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the account.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        type:
          $ref: '#/components/schemas/ConversationManagerAccountType'
        name:
          type: string
          description: Name of the account.
        detail:
          type: string
          description: Detailed information about the account.
        secret:
          type: string
          description: Secret associated with the account.
        token:
          type: string
          description: Token, usually an API token, associated with the account.
        tm_create:
          type: string
          description: Timestamp when the account was created.
        tm_update:
          type: string
          description: Timestamp when the account was last updated.
        tm_delete:
          type: string
          description: Timestamp when the account was deleted.

    ConversationManagerConversationReferenceType:
      type: string
      description: Type of the reference for the conversation.
      enum:
        - ""
        - message
        - line
      x-enum-varnames:
        - ConversationManagerConversationReferenceTypeNone
        - ConversationManagerConversationReferenceTypeMessage
        - ConversationManagerConversationReferenceTypeLine
    ConversationManagerConversation:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the conversation.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        owner_type:
          type: string
        owner_id:
          type: string
        account_id:
          type: string
          description: Unique identifier of the associated account.
        name:
          type: string
          description: Name of the conversation.
        detail:
          type: string
          description: Detailed information about the conversation.
        reference_type:
          $ref: '#/components/schemas/ConversationManagerConversationReferenceType'
        reference_id:
          type: string
          description: Unique identifier for the reference (e.g., message ID, line ID).
        source:
          description: The source address for the conversation.
          $ref: '#/components/schemas/CommonAddress'
        participants:
          type: array
          description: List of participants in the conversation.
          items:
            $ref: '#/components/schemas/CommonAddress'
        tm_create:
          type: string
          description: Timestamp when the conversation was created.
        tm_update:
          type: string
          description: Timestamp when the conversation was last updated.
        tm_delete:
          type: string
          description: Timestamp when the conversation was deleted.

    ConversationManagerMediaType:
      type: string
      description: Type of the media.
      enum:
        - image
        - video
        - audio
        - file
        - location
        - sticker
        - template
        - imagemap
        - flex
      x-enum-varnames:
        - ConversationManagerMediaTypeImage
        - ConversationManagerMediaTypeVideo
        - ConversationManagerMediaTypeAudio
        - ConversationManagerMediaTypeFile
        - ConversationManagerMediaTypeLocation
        - ConversationManagerMediaTypeSticker
        - ConversationManagerMediaTypeTemplate
        - ConversationManagerMediaTypeImagemap
        - ConversationManagerMediaTypeFlex
    ConversationManagerMedia:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the media.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        type:
          $ref: '#/components/schemas/ConversationManagerMediaType'
        filename:
          type: string
          description: Filename of the media.
        tm_create:
          type: string
          description: Timestamp when the media was created.
        tm_update:
          type: string
          description: Timestamp when the media was last updated.
        tm_delete:
          type: string
          description: Timestamp when the media was deleted.

    ConversationManagerMessageDirection:
      type: string
      description: Direction of the message (incoming or outgoing).
      enum:
        - outgoing
        - incoming
      x-enum-varnames:
        - ConversationManagerMessageDirectionOutgoing
        - ConversationManagerMessageDirectionIncoming
    ConversationManagerMessageReferenceType:
      type: string
      description: Type of reference associated with the message (e.g., call, campaign).
      enum:
        - none
        - call
        - campaign
      x-enum-varnames:
        - ConversationManagerMessageReferenceTypeNone
        - ConversationManagerMessageReferenceTypeCall
        - ConversationManagerMessageReferenceTypeCampaign
    ConversationManagerMessageStatus:
      type: string
      description: Status of the message.
      enum:
        - sending
        - sent
        - failed
        - received
      x-enum-varnames:
        - ConversationManagerMessageStatusSending
        - ConversationManagerMessageStatusSent
        - ConversationManagerMessageStatusFailed
        - ConversationManagerMessageStatusReceived
    ConversationManagerMessage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        customer_id:
          type: string
          description: Unique identifier of the associated customer.
        conversation_id:
          type: string
          description: Unique identifier of the conversation.
        direction:
          $ref: '#/components/schemas/ConversationManagerMessageDirection'
        status:
          $ref: '#/components/schemas/ConversationManagerMessageStatus'
        reference_type:
          $ref: '#/components/schemas/ConversationManagerMessageReferenceType'
        reference_id:
          type: string
          description: The reference ID for the message (e.g., related call ID).
        source:
          $ref: '#/components/schemas/CommonAddress'
        text:
          type: string
          description: The message content.
        medias:
          type: array
          items:
            $ref: '#/components/schemas/ConversationManagerMedia'
          description: List of media associated with the message.
        tm_create:
          type: string
          description: Timestamp when the message was created.
        tm_update:
          type: string
          description: Timestamp when the message was last updated.
        tm_delete:
          type: string
          description: Timestamp when the message was deleted.


#########################################
# Customer Manager
#########################################
    CustomerManagerAccesskey:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        detail:
          type: string
        token:
          type: string
        tm_expire:
          type: string
        tm_create:
          type: string
        tm_update:
          type: string
        tm_delete:
          type: string

    CustomerManagerCustomerWebhookMethod:
      type: string
      description: The HTTP method used for webhook (e.g., POST, GET, PUT, DELETE).
      enum:
        - ""
        - POST
        - GET
        - PUT
        - DELETE
      x-enum-varnames:
        - CustomerManagerCustomerWebhookMethodNone
        - CustomerManagerCustomerWebhookMethodPost
        - CustomerManagerCustomerWebhookMethodGet
        - CustomerManagerCustomerWebhookMethodPut
        - CustomerManagerCustomerWebhookMethodDelete
    CustomerManagerCustomer:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the customer.
        name:
          type: string
          description: Name of the customer.
        detail:
          type: string
          description: Details about the customer.
        email:
          type: string
          description: Email address of the customer.
        phone_number:
          type: string
          description: Phone number of the customer.
        address:
          type: string
          description: Address of the customer.
        webhook_method:
          $ref: '#/components/schemas/CustomerManagerCustomerWebhookMethod'
          description: Webhook method used by the customer.
        webhook_uri:
          type: string
          description: URI for the customer's webhook.
        billing_account_id:
          type: string
          description: The ID of the customer's default billing account.
        tm_create:
          type: string
          description: Timestamp when the customer was created.
        tm_update:
          type: string
          description: Timestamp when the customer was last updated.
        tm_delete:
          type: string
          description: Timestamp when the customer was deleted.

#########################################
# Email Manager
#########################################
    EmailManagerEmailAttachmentReferenceType:
      type: string
      description: Type of the action.
      enum:
        - ""
        - recording
      x-enum-varnames:
        - EmailManagerEmailAttachmentReferenceTypeNone
        - EmailManagerEmailAttachmentReferenceTypeRecording

    EmailManagerEmailStatus:
      type: string
      description: Email status.
      enum:
        - ""
        - initiated
        - processed
        - delivered
        - open
        - click
        - bounce
        - dropped
        - deferred
        - unsubscribe
        - spamreport
      x-enum-varnames:
        - EmailManagerEmailStatusNone
        - EmailManagerEmailStatusInitiated
        - EmailManagerEmailStatusProcessed
        - EmailManagerEmailStatusDelivered
        - EmailManagerEmailStatusOpen
        - EmailManagerEmailStatusClick
        - EmailManagerEmailStatusBounce
        - EmailManagerEmailStatusDropped
        - EmailManagerEmailStatusDeferred
        - EmailManagerEmailStatusUnsubscribe
        - EmailManagerEmailStatusSpamreport


    EmailManagerEmailAttachment:
      type: object
      properties:
        reference_type:
          description: Type of the reference.
          $ref: '#/components/schemas/EmailManagerEmailAttachmentReferenceType'
        reference_id:
          type: string
          description: The identifier of the next item
      required:
        - reference_type
        - reference_id

    EmailManagerEmail:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the email.
        customer_id:
          type: string
          description: ID of the customer.
        activeflow_id:
          type: string
          description: ID of the associated activeflow.
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: The source address of the message.
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: List of destination addresses
        status:
          $ref: '#/components/schemas/EmailManagerEmailStatus'
          description: The source address of the message.
        subject:
          type: string
          description: The subject of the email.
        content:
          type: string
          description: The content of the email.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EmailManagerEmailAttachment'
          description: List of attachments
        tm_create:
          type: string
          description: Timestamp when the flow was created.
        tm_update:
          type: string
          description: Timestamp when the flow was last updated.
        tm_delete:
          type: string
          description: Timestamp when the flow was deleted.
      required:
        - id
        - customer_id
        - source
        - destinations
        - status
        - subject
        - content
        - attachments
        - tm_create
        - tm_update
        - tm_delete

#########################################
# Flow Manager
#########################################
    FlowManagerActionType:
      type: string
      description: Type of the action.
      enum:
        - ai_talk
        - ai_summary
        - amd
        - answer
        - beep
        - branch
        - call
        - condition_call_digits
        - condition_call_status
        - condition_datetime
        - condition_variable
        - confbridge_join
        - conference_join
        - connect
        - conversation_send
        - digits_receive
        - digits_send
        - echo
        - email_send
        - external_media_start
        - external_media_stop
        - fetch
        - fetch_flow
        - goto
        - hangup
        - message_send
        - mute
        - play
        - queue_join
        - recording_start
        - recording_stop
        - sleep
        - stop
        - stream_echo
        - talk
        - transcribe_start
        - transcribe_stop
        - transcribe_recording
        - variable_set
        - webhook_send
      x-enum-varnames:
        - FlowManagerActionTypeAITalk
        - FlowManagerActionTypeAISummary
        - FlowManagerActionTypeAMD
        - FlowManagerActionTypeAnswer
        - FlowManagerActionTypeBeep
        - FlowManagerActionTypeBranch
        - FlowManagerActionTypeCall
        - FlowManagerActionTypeConditionCallDigits
        - FlowManagerActionTypeConditionCallStatus
        - FlowManagerActionTypeConditionDatetime
        - FlowManagerActionTypeConditionVariable
        - FlowManagerActionTypeConfbridgeJoin
        - FlowManagerActionTypeConferenceJoin
        - FlowManagerActionTypeConnect
        - FlowManagerActionTypeConversationSend
        - FlowManagerActionTypeDigitsReceive
        - FlowManagerActionTypeDigitsSend
        - FlowManagerActionTypeEcho
        - FlowManagerActionTypeEmailSend
        - FlowManagerActionTypeExternalMediaStart
        - FlowManagerActionTypeExternalMediaStop
        - FlowManagerActionTypeFetch
        - FlowManagerActionTypeFetchFlow
        - FlowManagerActionTypeGoto
        - FlowManagerActionTypeHangup
        - FlowManagerActionTypeMessageSend
        - FlowManagerActionTypeMute
        - FlowManagerActionTypePlay
        - FlowManagerActionTypeQueueJoin
        - FlowManagerActionTypeRecordingStart
        - FlowManagerActionTypeRecordingStop
        - FlowManagerActionTypeSleep
        - FlowManagerActionTypeStop
        - FlowManagerActionTypeStreamEcho
        - FlowManagerActionTypeTalk
        - FlowManagerActionTypeTranscribeStart
        - FlowManagerActionTypeTranscribeStop
        - FlowManagerActionTypeTranscribeRecording
        - FlowManagerActionTypeVariableSet
        - FlowManagerActionTypeWebhookSend

    FlowManagerActionOptionAISummary:
      type: object
      properties:
        on_end_flow_id:
          type: string
          description: The unique identifier for the flow to be executed on end.
        reference_type:
          $ref: '#/components/schemas/AIManagerSummaryReferenceType'
        reference_id:
          type: string
          description: The identifier of the reference object
        language:
          type: string
          description: Additional options

    FlowManagerActionOptionAITalk:
      type: object
      properties:
        ai_id:
          type: string
          description: The unique identifier for the flow to be executed on end.
        resume:
          type: boolean
          description: Whether to resume the AI talk.
        gender:
          $ref: '#/components/schemas/AIManagerAIcallGender'
        language:
          type: string
        duration:
          type: integer

    FlowManagerActionOptionAMD:
      type: object
      properties:
        machine_handle:
          type: string
          enum: 
            - hangup
            - continue
          x-enum-varnames:
            - FlowManagerActionOptionAMDMachineHandleHangup
            - FlowManagerActionOptionAMDMachineHandleContinue
        async:
          type: boolean
          description: If false, the call flow will pause until AMD is complete.

    FlowManagerActionOptionAnswer:
      type: object
      description: No options available for this action.

    FlowManagerActionOptionBeep:
      type: object
      description: No options available for this action.

    FlowManagerActionOptionBranch:
      type: object
      properties:
        variable:
          type: string
          description: Variable name to evaluate for branching.
        default_target_id:
          type: string
          description: Default target ID if input does not match any branch targets.
        target_ids:
          type: object
          additionalProperties:
            type: string
          description: Mapping of input values to target IDs.

    FlowManagerActionOptionCall:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CommonAddress'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
        flow_id:
          type: string
          description: Identifier for the flow to be executed.
        actions:
          type: array
          items:
            $ref: '#/components/schemas/FlowManagerAction'
        chained:
          type: boolean
          description: If true, created calls will hang up when the master call hangs up.
        early_execution:
          type: boolean
          description: If true, the created call executes the flow before call answer.

    FlowManagerActionOptionConfbridgeJoin:
      type: object
      properties:
        confbridge_id:
          type: string
          description: Identifier for the conference bridge to join.

    FlowManagerActionOptionConferenceJoin:
      type: object
      properties:
        conference_id:
          type: string

    FlowManagerActionOptionConnect:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: Source address.
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: Target destination addresses.
        early_media:
          type: boolean
          description: |
            If true, the call will get early media from the destination.
        relay_reason:
          type: boolean
          description: |
            If true, the master call will try to hang up with the same reason as the first destination call.
            Valid only if the first destination call hangs up earlier than the master call.

    FlowManagerActionOptionConversationSend:
      type: object
      properties:
        conversation_id:
          type: string
          description: Conversation's ID.
        text:
          type: string
          description: Message text.
        sync:
          type: boolean

    FlowManagerActionOptionDigitsReceive:
      type: object
      properties:
        duration:
          type: integer
          description: DTMF receiving duration in milliseconds.
        key:
          type: string
          description: |
            If set, determines which DTMF key triggers the next step.
            The end key is not included in the resulting variable.
            If not set, no key will trigger the next step.
        length:
          type: integer
          description: |
            An optional limit to the number of DTMF events that should be gathered before continuing.

    FlowManagerActionOptionDigitsSend:
      type: object
      properties:
        digits:
          type: string
          maxLength: 100
          pattern: "^[0-9ABCD#*]*$"
          description: |
            Keys to send. Allowed characters: 0-9, A-D, #, *. Max 100 keys.
        duration:
          type: integer
          minimum: 100
          maximum: 1000
          description: Duration per DTMF tone (ms).
        interval:
          type: integer
          minimum: 0
          maximum: 5000
          description: Interval between keys (ms).

    FlowManagerActionOptionEcho:
      type: object
      properties:
        duration:
          type: integer


    FlowManagerActionOptionEmailSend:
      type: object
      properties:
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
        subject:
          type: string
        content:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/EmailManagerEmailAttachment'

    FlowManagerActionOptionExternalMediaStart:
      type: object
      properties:
        external_host:
          type: string
          description: External media target host address.
        encapsulation:
          type: string
          description: Encapsulation. Default value is rtp.
        transport:
          type: string
          description: Transport. Default value is udp.
        connection_type:
          type: string
          description: Connection type. Default value is client.
        format:
          type: string
          description: Format. Default value is ulaw.
        direction:
          type: string
          description: Direction. Default value is both.
        data:
          type: string

    FlowManagerActionOptionExternalMediaStop:
      type: object
      description: No options required.

    FlowManagerActionOptionFetch:
      type: object
      properties:
        event_url:
          type: string
        event_method:
          type: string

    FlowManagerActionOptionFetchFlow:
      type: object
      properties:
        flow_id:
          type: string

    FlowManagerActionOptionGoto:
      type: object
      properties:
        target_id:
          type: string
          description: Target's action ID in the flow array to go to.
        loop_count:
          type: integer
          description: Loop count.

    FlowManagerActionOptionHangup:
      type: object
      properties:
        reason:
          type: string
          description: Hangup reason code. See cmcall.HangupReason for details.
        reference_id:
          type: string
          description: |
            If set, hangs up the call with the same reason as the referenced call ID.
            This will overwrite the `reason` option.

    FlowManagerActionOptionMessageSend:
      type: object
      properties:
        source:
          type: object
          $ref: '#/components/schemas/CommonAddress'
          description: The source address for the message.
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/CommonAddress'
          description: List of destination addresses for the message.
        text:
          type: string
          description: The text of the message to send.

    FlowManagerActionOptionPlay:
      type: object
      properties:
        stream_urls:
          type: array
          items:
            type: string
          description: List of stream URLs for media playback.

    FlowManagerActionOptionQueueJoin:
      type: object
      properties:
        queue_id:
          type: string
          description: The ID of the queue to join.

    FlowManagerActionOptionRecordingStart:
      type: object
      properties:
        format:
          type: string
          description: Format to encode audio in. Supported values are wav, mp3, ogg.
        end_of_silence:
          type: integer
          description: Maximum duration of silence, in seconds. 0 for no limit.
        end_of_key:
          type: string
          description: DTMF input to terminate recording. Supported values are none, any, *, #.
        duration:
          type: integer
          description: Maximum duration of the recording, in seconds. 0 for no limit.
        beep_start:
          type: boolean
          description: Play beep when recording begins.
        on_end_flow_id:
          type: string
          description: Flow ID for the end of recording.

    FlowManagerActionOptionRecordingStop:
      type: object
      description: No options for this action.

    FlowManagerActionOptionSleep:
      type: object
      properties:
        duration:
          type: integer
          description: Sleep duration in milliseconds.

    FlowManagerActionOptionStreamEcho:
      type: object
      properties:
        duration:
          type: integer
          description: Duration of the stream echo.

    FlowManagerActionOptionTalk:
      type: object
      properties:
        text:
          type: string
          description: The text to read, either in SSML format or plain text.
        gender:
          type: string
          description: Gender of the voice. Supported values are male, female, neutral.
        language:
          type: string
          description: IETF locale name (e.g., ko-KR, en-US).
        digits_handle:
          description: Defines the action when it receives digits.
          type: string
          enum: 
            - ""
            - next
          x-enum-varnames:
            - FlowManagerActionOptionTalkDigitsHandleNone
            - FlowManagerActionOptionTalkDigitsHandleNext
        async:
          type: boolean
          description: If true, the talk action will not block the flow execution.

    FlowManagerActionOptionTranscribeStart:
      type: object
      properties:
        language:
          type: string
          description: BCP47 format for the language (e.g., en-US).
        on_end_flow_id:
          type: string
          description: Flow ID for the end of transcription.

    FlowManagerActionOptionTranscribeStop:
      type: object
      description: No options for this action.

    FlowManagerActionOptionTranscribeRecording:
      type: object
      properties:
        language:
          type: string
          description: BCP47 format for the language (e.g., en-US).
        on_end_flow_id:
          type: string
          description: Flow ID for the end of transcription.

    FlowManagerActionOptionVariableSet:
      type: object
      properties:
        key:
          type: string
          description: The key of the variable to set.
        value:
          type: string
          description: The value of the variable to set.

    FlowManagerActionOptionWebhookSend:
      type: object
      properties:
        sync:
          type: boolean
          description: Indicates whether the webhook is synchronous.
        uri:
          type: string
          description: The URI to which the webhook is sent.
        method:
          type: string
          enum: 
            - POST
            - GET
            - PUT
            - DELETE
          x-enum-varnames:
            - FlowManagerActionOptionWebhookSendMethodPost
            - FlowManagerActionOptionWebhookSendMethodGet
            - FlowManagerActionOptionWebhookSendMethodPut
            - FlowManagerActionOptionWebhookSendMethodDelete
          description: The HTTP method to use for the webhook.
        data_type:
          type: string
          description: The content type of the data being sent. Example `application/json`.
        data:
          type: string
          description: The data to send in the webhook.










    FlowManagerAction:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier
        next_id:
          type: string
          description: The identifier of the next item
        type:
          description: The type of the object
          $ref: '#/components/schemas/FlowManagerActionType'
        option:
          type: object
          additionalProperties: true
          description: |
            Additional options based on the `type` field.
            - For `FlowManagerActionTypeAISummary`: see `FlowManagerActionOptionAISummary`
            - For `FlowManagerActionTypeAITalk`: see `FlowManagerActionOptionAITalk`
            - For `FlowManagerActionTypeAMD`: see `FlowManagerActionOptionAMD`
            - For `FlowManagerActionTypeAnswer`: see FlowManagerActionOptionAnswer
            - For `FlowManagerActionTypeBeep`: see FlowManagerActionOptionBeep
            - For `FlowManagerActionTypeBranch`: see FlowManagerActionOptionBranch
            - For `FlowManagerActionTypeCall`: see FlowManagerActionOptionCall
            - For `FlowManagerActionTypeConfbridgeJoin`: see FlowManagerActionOptionConfbridgeJoin
            - For `FlowManagerActionTypeConferenceJoin`: see FlowManagerActionOptionConferenceJoin
            - For `FlowManagerActionTypeConnect`: see FlowManagerActionOptionConnect
            - For `FlowManagerActionTypeConversationSend`: see FlowManagerActionOptionConversationSend
            - For `FlowManagerActionTypeDigitsReceive`: see FlowManagerActionOptionDigitsReceive
            - For `FlowManagerActionTypeDigitsSend`: see FlowManagerActionOptionDigitsSend
            - For `FlowManagerActionTypeEcho`: see FlowManagerActionOptionEcho
            - For `FlowManagerActionTypeEmailSend`: see FlowManagerActionOptionEmailSend
            - For `FlowManagerActionTypeExternalMediaStart`: see FlowManagerActionOptionExternalMediaStart
            - For `FlowManagerActionTypeExternalMediaStop`: see FlowManagerActionOptionExternalMediaStop
            - For `FlowManagerActionTypeFetch`: see FlowManagerActionOptionFetch
            - For `FlowManagerActionTypeFetchFlow`: see FlowManagerActionOptionFetchFlow
            - For `FlowManagerActionTypeGoto`: see FlowManagerActionOptionGoto
            - For `FlowManagerActionTypeHangup`: see FlowManagerActionOptionHangup
            - For `FlowManagerActionTypeMessageSend`: see FlowManagerActionOptionMessageSend
            - For `FlowManagerActionTypePlay`: see FlowManagerActionOptionPlay
            - For `FlowManagerActionTypeQueueJoin`: see FlowManagerActionOptionQueueJoin
            - For `FlowManagerActionTypeRecordingStart`: see FlowManagerActionOptionRecordingStart
            - For `FlowManagerActionTypeRecordingStop`: see FlowManagerActionOptionRecordingStop
            - For `FlowManagerActionTypeSleep`: see FlowManagerActionOptionSleep
            - For `FlowManagerActionTypeStreamEcho`: see FlowManagerActionOptionStreamEcho
            - For `FlowManagerActionTypeTalk`: see FlowManagerActionOptionTalk
            - For `FlowManagerActionTypeTranscribeStart`: see FlowManagerActionOptionTranscribeStart
            - For `FlowManagerActionTypeTranscribeStop`: see FlowManagerActionOptionTranscribeStop
            - For `FlowManagerActionTypeTranscribeRecording`: see FlowManagerActionOptionTranscribeRecording
            - For `FlowManagerActionTypeVariableSet`: see FlowManagerActionOptionVariableSet
            - For `FlowManagerActionTypeWebhookSend`: see FlowManagerActionOptionWebhookSend        
            - ...
        tm_execute:
          type: string
          description: Timestamp or time to execute
      required:
        - id
        - type

    FlowManagerActiveflowStatus:
      type: string
      description: Status of the activeflow.
      enum:
        - ""
        - running
        - ended
      x-enum-varnames:
        - FlowManagerActiveflowStatusNone
        - FlowManagerActiveflowStatusRunning
        - FlowManagerActiveflowStatusEnded

    FlowManagerReferenceType:
      type: string
      description: Reference type of activeflow.
      enum:
        - ""
        - call
        - message
      x-enum-varnames:
        - FlowManagerReferenceTypeNone
        - FlowManagerReferenceTypeCall
        - FlowManagerReferenceTypeMessage

    FlowManagerActiveflow:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the activeflow.
        customer_id:
          type: string
          description: ID of the customer associated with the flow.
        flow_id:
          type: string
          description: ID of the flow definition.
        status:
          $ref: '#/components/schemas/FlowManagerActiveflowStatus'
        reference_type:
          $ref: '#/components/schemas/FlowManagerReferenceType'
        reference_id:
          type: string
          description: ID of the reference object.
        reference_activeflow_id:
          type: string
          description: ID of the referenced activeflow.
        on_complete_flow_id:
          type: string
          description: ID of the flow to be executed on completion.
        current_action:
          $ref: '#/components/schemas/FlowManagerAction'
        forward_action_id:
          type: string
          description: ID of the next action to be executed.
        executed_actions:
          type: array
          description: List of actions that have been executed.
          items:
            $ref: '#/components/schemas/FlowManagerAction'
        tm_create:
          type: string
          description: Timestamp when the flow was created.
        tm_update:
          type: string
          description: Timestamp when the flow was last updated.
        tm_delete:
          type: string
          description: Timestamp when the flow was deleted.

    FlowManagerFlowType:
      type: string
      description: Type of the flow.
      enum:
        - flow
        - conference
        - queue
        - campaign
        - transfer
      x-enum-varnames:
        - FlowManagerFlowTypeFlow
        - FlowManagerFlowTypeConference
        - FlowManagerFlowTypeQueue
        - FlowManagerFlowTypeCampaign
        - FlowManagerFlowTypeTransfer

    FlowManagerFlow:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the flow.
        customer_id:
          type: string
          description: Unique identifier for the customer.
        type:
          description: The type of the flow.
          $ref: '#/components/schemas/FlowManagerFlowType'
        name:
          type: string
          description: Name of the flow.
        detail:
          type: string
          description: Detailed description of the flow.
        actions:
          type: array
          description: List of actions associated with the flow.
          items:
            $ref: '#/components/schemas/FlowManagerAction'
        on_complete_flow_id:
          type: string
          description: ID of the flow to be executed on completion.
        tm_create:
          type: string
          description: Timestamp when the flow was created.
        tm_update:
          type: string
          description: Timestamp when the flow was last updated.
        tm_delete:
          type: string
          description: Timestamp when the flow was deleted.


#########################################
# Message Manager
#########################################
    MessageManagerMessageDirection:
      type: string
      description: Direction of the message.
      enum:
        - outbound
        - inbound
      x-enum-varnames:
        - MessageManagerMessageDirectionOutbound
        - MessageManagerMessageDirectionInbound
    MessageManagerMessageProviderName:
      type: string
      description: Name of the message provider.
      enum:
        - telnyx
        - twilio
        - messagebird
      x-enum-varnames:
        - MessageManagerMessageProviderNameTelnyx
        - MessageManagerMessageProviderNameTwilio
        - MessageManagerMessageProviderNameMessagebird
    MessageManagerMessageType:
      type: string
      description: Type of the message.
      enum:
        - sms
      x-enum-varnames:
        - MessageManagerMessageTypeSMS
    MessageManagerMessage:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the message.
        customer_id:
          type: string
          description: Unique identifier for the customer.
        type:
          $ref: '#/components/schemas/MessageManagerMessageType'
          description: The type of the message.
        source:
          $ref: '#/components/schemas/CommonAddress'
          description: The source address of the message.
        targets:
          type: array
          items:
            $ref: '#/components/schemas/MessageManagerTarget'
          description: List of target addresses to which the message is sent.
        text:
          type: string
          description: The text delivered in the body of the message.
        direction:
          $ref: '#/components/schemas/MessageManagerMessageDirection'
          description: The direction of the message (outbound/inbound).
        tm_create:
          type: string
          description: Timestamp when the message was created.
        tm_update:
          type: string
          description: Timestamp when the message was last updated.
        tm_delete:
          type: string
          description: Timestamp when the message was deleted.
    
    MessageManagerTargetStatus:
      type: string
      description: The status of the message for the target.
      enum:
        - received
        - queued
        - gw_timeout
        - sent
        - dlr_timeout
        - failed
        - delivered
      x-enum-varnames:
        - MessageManagerTargetStatusReceived
        - MessageManagerTargetStatusQueued
        - MessageManagerTargetStatusGWTimeout
        - MessageManagerTargetStatusSent
        - MessageManagerTargetStatusDLRTimeout
        - MessageManagerTargetStatusFailed
        - MessageManagerTargetStatusDelivered
    MessageManagerTarget:
      type: object
      properties:
        destination:
          description: The destination address for the message.
          $ref: '#/components/schemas/CommonAddress'
        status:
          description: The current status of the message for the target.
          $ref: '#/components/schemas/MessageManagerTargetStatus'
        parts:
          type: integer
          description: The number of message parts (if the message is split).
        tm_update:
          type: string
          description: Timestamp when the target message was last updated.


#########################################
# Number Manager
#########################################
    NumberManagerAvailableNumber:
      type: string
      description: A feature supported by the phone number.
      enum:
        - emergency
        - fax
        - mms
        - sms
        - voice
      x-enum-varnames:
        - NumberManagerAvailableNumberFeatureEmergency
        - NumberManagerAvailableNumberFeatureFax
        - NumberManagerAvailableNumberFeatureMMS
        - NumberManagerAvailableNumberFeatureSMS
        - NumberManagerAvailableNumberFeatureVoice
    NumberManagerAvailableNumberFeature:
      type: object
      properties:
        number:
          type: string
          description: The available phone number.
        country:
          type: string
          description: The country where the number is available.
        region:
          type: string
          description: The region within the country.
        postal_code:
          type: string
          description: The postal code associated with the number.
        features:
          type: array
          items:
            $ref: '#/components/schemas/NumberManagerAvailableNumberFeature'
          description: The list of features supported by the number.

    NumberManagerNumberProviderName:
      type: string
      description: The provider name for the number.
      enum:
        - telnyx
        - twilio
        - messagebird
      x-enum-varnames:
        - NumberManagerProviderNameTelnyx
        - NumberManagerProviderNameTwilio
        - NumberManagerProviderNameMessagebird
    NumberManagerNumberStatus:
      type: string
      description: The status of the number.
      enum:
        - active
        - deleted
      x-enum-varnames:
        - NumberManagerStatusActive
        - NumberManagerStatusDeleted
    NumberManagerNumber:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the number.
        customer_id:
          type: string
          description: The customer ID associated with the number.
        number:
          type: string
          description: The phone number.
        call_flow_id:
          type: string
          description: The ID of the associated call flow.
        message_flow_id:
          type: string
          description: The ID of the associated message flow.
        name:
          type: string
          description: The name of the number.
        detail:
          type: string
          description: Additional details about the number.
        status:
          $ref: '#/components/schemas/NumberManagerNumberStatus'
          description: The status of the number.
        t38_enabled:
          type: boolean
          description: Whether T38 is enabled for the number.
        emergency_enabled:
          type: boolean
          description: Whether emergency services are enabled for the number.
        tm_purchase:
          type: string
          description: The timestamp of when the number was purchased.
        tm_renew:
          type: string
          description: The timestamp of when the number was renewed.
        tm_create:
          type: string
          description: The timestamp of when the number was created.
        tm_update:
          type: string
          description: The timestamp of when the number was last updated.
        tm_delete:
          type: string
          description: The timestamp of when the number was deleted.

#########################################
# Outdial Manager
#########################################
    OutdialManagerOutdial:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the outdial.
        customer_id:
          type: string
          description: The unique identifier for the customer associated with the outdial.
        campaign_id:
          type: string
          description: The unique identifier for the campaign associated with the outdial.
        name:
          type: string
          description: The name of the outdial.
        detail:
          type: string
          description: The detailed description of the outdial.
        data:
          type: string
          description: The data associated with the outdial.
        tm_create:
          type: string
          description: Timestamp when the outdial was created.
        tm_update:
          type: string
          description: Timestamp when the outdial was last updated.
        tm_delete:
          type: string
          description: Timestamp when the outdial was deleted.

    OutdialManagerOutdialtargetStatus:
      type: string
      description: The status of the outdial.
      enum:
        - progressing
        - done
        - idle
      x-enum-varnames:
        - OutdialManagerOutdialtargetStatusProgressing
        - OutdialManagerOutdialtargetStatusDone
        - OutdialManagerOutdialtargetStatusIdle
    OutdialManagerOutdialtarget:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the outdial.
        outdial_id:
          type: string
          description: The outdial reference ID.
        name:
          type: string
          description: The name of the outdial.
        detail:
          type: string
          description: Additional details about the outdial.
        data:
          type: string
          description: The data associated with the outdial.
        status:
          $ref: '#/components/schemas/OutdialManagerOutdialtargetStatus'
          description: The status of the outdial.
        destination_0:
          $ref: '#/components/schemas/CommonAddress'
          description: The destination address 0.
        destination_1:
          $ref: '#/components/schemas/CommonAddress'
          description: The destination address 1.
        destination_2:
          $ref: '#/components/schemas/CommonAddress'
          description: The destination address 2.
        destination_3:
          $ref: '#/components/schemas/CommonAddress'
          description: The destination address 3.
        destination_4:
          $ref: '#/components/schemas/CommonAddress'
          description: The destination address 4.
        try_count_0:
          type: integer
          description: The try count for destination 0.
        try_count_1:
          type: integer
          description: The try count for destination 1.
        try_count_2:
          type: integer
          description: The try count for destination 2.
        try_count_3:
          type: integer
          description: The try count for destination 3.
        try_count_4:
          type: integer
          description: The try count for destination 4.
        tm_create:
          type: string
          description: The creation timestamp.
        tm_update:
          type: string
          description: The update timestamp.
        tm_delete:
          type: string
          description: The deletion timestamp.


#########################################
# Queue Manager
#########################################
    QueueManagerQueueRoutingMethod:
      type: string
      enum:
        - ""
        - random
      x-enum-varnames:
        - QueueManagerQueueRoutingMethodNone
        - QueueManagerQueueRoutingMethodRandom
    QueueManagerQueue:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        name:
          type: string
        detail:
          type: string
        routing_method:
          $ref: '#/components/schemas/QueueManagerQueueRoutingMethod'
        tag_ids:
          type: array
          items:
            type: string
        wait_flow_id:
          type: string
          description: "Flow ID for the wait queue."
        wait_timeout:
          type: integer
          description: "Wait queue timeout in milliseconds."
        service_timeout:
          type: integer
          description: "Service queue timeout in milliseconds."
        wait_queuecall_ids:
          type: array
          items:
            type: string
        service_queuecall_ids:
          type: array
          items:
            type: string
        total_incoming_count:
          type: integer
          description: "Total incoming call count."
        total_serviced_count:
          type: integer
          description: "Total serviced call count."
        total_abandoned_count:
          type: integer
          description: "Total abandoned call count."
        tm_create:
          type: string
        tm_update:
          type: string
        tm_delete:
          type: string

    QueueManagerQueuecallReferenceType:
      type: string
      enum:
        - call
      x-enum-varnames:
        - QueueManagerQueuecallReferenceTypeCall
    QueueManagerQueuecallStatus:
      type: string
      enum:
        - initiating
        - waiting
        - connecting
        - kicking
        - service
        - done
        - abandoned
      x-enum-varnames:
        - QueueManagerQueuecallStatusInitiating
        - QueueManagerQueuecallStatusWaiting
        - QueueManagerQueuecallStatusConnecting
        - QueueManagerQueuecallStatusKicking
        - QueueManagerQueuecallStatusService
        - QueueManagerQueuecallStatusDone
        - QueueManagerQueuecallStatusAbandoned
    QueueManagerQueuecall:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
[...]
