---
apiVersion: v1
kind: Service
metadata:
  name: timeline-manager

spec:
  type: ClusterIP
  selector:
    app: timeline-manager
  ports:
  - name: metrics
    port: 2112
    targetPort: 2112
    protocol: TCP
