{
  "openapi": "3.0.0",
  "info": {
    "title": "VoipBin API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://github.com/pchero/voipbin/blob/master/logos/voipbin-high-resolution-logo-black-transparent.png?raw=true",
      "backgroundColor": "#FFFFFF",
      "altText": "voipbin",
      "href": "https://api.voipbin.net/docs/"
    }
  },
  "servers": [
    {
      "url": "https://api.voipbin.net/v1.0"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication operations",
      "externalDocs": {
        "description": "Find more about authentication",
        "url": "https://api.voipbin.net/docs/auth.html"
      }
    },
    {
      "name": "Accesskey",
      "description": "Operations related to accesskey",
      "externalDocs": {
        "description": "Find more about accesskey",
        "url": "https://api.voipbin.net/docs/accesskey.html"
      }
    },
    {
      "name": "Activeflow",
      "description": "Operations related to activeflow",
      "externalDocs": {
        "description": "Find more about activeflow",
        "url": "https://api.voipbin.net/docs/activeflow.html"
      }
    },
    {
      "name": "Agent",
      "description": "Operations related to agent",
      "externalDocs": {
        "description": "Find more about agent",
        "url": "https://api.voipbin.net/docs/agent.html"
      }
    },
    {
      "name": "Billing",
      "description": "Operations related to billing",
      "externalDocs": {
        "description": "Find more about billing",
        "url": "https://api.voipbin.net/docs/billing_account.html"
      }
    },
    {
      "name": "Call",
      "description": "Operations related to call",
      "externalDocs": {
        "description": "Find more about call",
        "url": "https://api.voipbin.net/docs/call.html"
      }
    },
    {
      "name": "Campaign",
      "description": "Operations related to campaign",
      "externalDocs": {
        "description": "Find more about campaign",
        "url": "https://api.voipbin.net/docs/campaign.html"
      }
    },
    {
      "name": "AI",
      "description": "Operations related to ai",
      "externalDocs": {
        "description": "Find more about ai",
        "url": "https://api.voipbin.net/docs/ai.html"
      }
    },
    {
      "name": "Conference",
      "description": "Operations related to conference",
      "externalDocs": {
        "description": "Find more about conference",
        "url": "https://api.voipbin.net/docs/conference.html"
      }
    },
    {
      "name": "Conversation",
      "description": "Operations related to conversation",
      "externalDocs": {
        "description": "Find more about conversation",
        "url": "https://api.voipbin.net/docs/conversation.html"
      }
    },
    {
      "name": "Customer",
      "description": "Operations related to customer",
      "externalDocs": {
        "description": "Find more about customer",
        "url": "https://api.voipbin.net/docs/customer.html"
      }
    },
    {
      "name": "Extension",
      "description": "Operations related to extension",
      "externalDocs": {
        "description": "Find more about extension",
        "url": "https://api.voipbin.net/docs/extension.html"
      }
    },
    {
      "name": "File",
      "description": "Operations related to file"
    },
    {
      "name": "Flow",
      "description": "Operations related to flow",
      "externalDocs": {
        "description": "Find more about flow",
        "url": "https://api.voipbin.net/docs/flow.html"
      }
    },
    {
      "name": "Groupcall",
      "description": "Operations related to groupcall",
      "externalDocs": {
        "description": "Find more about groupcall",
        "url": "https://api.voipbin.net/docs/groupcall.html"
      }
    },
    {
      "name": "Me",
      "description": "Operations related to myself data"
    },
    {
      "name": "Message",
      "description": "Operations related to message",
      "externalDocs": {
        "description": "Find more about message",
        "url": "https://api.voipbin.net/docs/message.html"
      }
    },
    {
      "name": "Number",
      "description": "Operations related to number",
      "externalDocs": {
        "description": "Find more about number",
        "url": "https://api.voipbin.net/docs/number.html"
      }
    },
    {
      "name": "Outdial",
      "description": "Operations related to outdial",
      "externalDocs": {
        "description": "Find more about outdial",
        "url": "https://api.voipbin.net/docs/outdial.html"
      }
    },
    {
      "name": "Outplan",
      "description": "Operations related to outplan",
      "externalDocs": {
        "description": "Find more about outplan",
        "url": "https://api.voipbin.net/docs/outplan.html"
      }
    },
    {
      "name": "Provider",
      "description": "Operations related to provider",
      "externalDocs": {
        "description": "Find more about provider",
        "url": "https://api.voipbin.net/docs/provider.html"
      }
    },
    {
      "name": "Queue",
      "description": "Operations related to queue",
      "externalDocs": {
        "description": "Find more about queue",
        "url": "https://api.voipbin.net/docs/queue.html"
      }
    },
    {
      "name": "Recording",
      "description": "Operations related to recording",
      "externalDocs": {
        "description": "Find more about recording",
        "url": "https://api.voipbin.net/docs/recording.html"
      }
    },
    {
      "name": "Route",
      "description": "Operations related to route",
      "externalDocs": {
        "description": "Find more about route",
        "url": "https://api.voipbin.net/docs/route.html"
      }
    },
    {
      "name": "Service Agent",
      "description": "Operations related to individual agent service"
    },
    {
      "name": "Speaking",
      "description": "Operations related to real-time streaming TTS sessions"
    },
    {
      "name": "Storage",
      "description": "Operations related to storage",
      "externalDocs": {
        "description": "Find more about storage",
        "url": "https://api.voipbin.net/docs/storage.html"
      }
    },
    {
      "name": "Tag",
      "description": "Operations related to tag",
      "externalDocs": {
        "description": "Find more about tag",
        "url": "https://api.voipbin.net/docs/tag.html"
      }
    },
    {
      "name": "Transcribe",
      "description": "Operations related to transcribe",
      "externalDocs": {
        "description": "Find more about transcribe",
        "url": "https://api.voipbin.net/docs/transcribe.html"
      }
    },
    {
      "name": "Transfer",
      "description": "Operations related to transfer",
      "externalDocs": {
        "description": "Find more about transfer",
        "url": "https://api.voipbin.net/docs/transfer.html"
      }
    },
    {
      "name": "Trunk",
      "description": "Operations related to trunk",
      "externalDocs": {
        "description": "Find more about trunk",
        "url": "https://api.voipbin.net/docs/trunk.html"
      }
    },
    {
      "name": "Websocket",
      "description": "Operations related to websocket",
      "externalDocs": {
        "description": "Find more about websocket",
        "url": "https://api.voipbin.net/docs/websocket.html"
      }
    },
    {
      "name": "Timeline",
      "description": "Operations related to timeline events"
    },
    {
      "name": "RAG",
      "description": "Operations related to RAG (Retrieval-Augmented Generation)"
    }
  ],
  "paths": {
    "/accesskeys": {
      "get": {
        "summary": "Get list of accesskeys",
        "description": "Get accesskeys of the customer",
        "tags": [
          "Accesskey"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomerManagerAccesskey"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new accesskey.",
        "description": "Create a new accesskey.",
        "tags": [
          "Accesskey"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  },
                  "expire": {
                    "type": "integer",
                    "format": "int"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerAccesskey"
                }
              }
            }
          }
        }
      }
    },
    "/accesskeys/{id}": {
      "get": {
        "summary": "Get details of an accesskey",
        "tags": [
          "Accesskey"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the accesskey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accesskey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerAccesskey"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an accesskey",
        "tags": [
          "Accesskey"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the accesskey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accesskey deleted successfully"
          }
        }
      },
      "put": {
        "summary": "Update an accesskey",
        "tags": [
          "Accesskey"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the accesskey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accesskey updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerAccesskey"
                }
              }
            }
          }
        }
      }
    },
    "/activeflows": {
      "post": {
        "summary": "Create a new activeflow",
        "description": "Endpoint to create a new activeflow.",
        "tags": [
          "Activeflow"
        ],
        "requestBody": {
          "description": "Request body to create a new activeflow.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the activeflow."
                  },
                  "flow_id": {
                    "type": "string",
                    "description": "Flow id of."
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FlowManagerAction"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "activeflow created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowManagerActiveflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input. One of `flow_id` or `actions` is required."
          }
        }
      },
      "get": {
        "summary": "List all activeflows",
        "description": "Retrieve a list of all activeflows.",
        "tags": [
          "Activeflow"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FlowManagerActiveflow"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error."
          }
        }
      }
    },
    "/activeflows/{id}": {
      "delete": {
        "summary": "Delete an activeflow",
        "description": "Endpoint to delete an activeflow by its ID.",
        "tags": [
          "Activeflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the activeflow to delete."
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Activeflow deleted successfully."
          },
          "404": {
            "description": "Flow not found."
          }
        }
      },
      "get": {
        "summary": "Get an activeflow by ID",
        "description": "Retrieve details of a specific flow.",
        "tags": [
          "Activeflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the activeflow."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activeflow details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowManagerActiveflow"
                }
              }
            }
          },
          "404": {
            "description": "Flow not found."
          }
        }
      }
    },
    "/activeflows/{id}/stop": {
      "post": {
        "summary": "Stop an activeflow",
        "description": "Endpoint to stop an activeflow by its ID.",
        "tags": [
          "Activeflow"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the activeflow to stop."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activeflow stopped successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowManagerActiveflow"
                }
              }
            }
          },
          "400": {
            "description": "Unable to stop the flow."
          },
          "404": {
            "description": "Flow not found."
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "List agents",
        "description": "Get agents of the user.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "tag_ids",
            "in": "query",
            "description": "Comma separated tag ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Agent status.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AgentManagerAgentStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AgentManagerAgent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new agent",
        "description": "Endpoint to create a new agent.",
        "tags": [
          "Agent"
        ],
        "requestBody": {
          "description": "Request body to create a new agent.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  },
                  "ring_method": {
                    "$ref": "#/components/schemas/AgentManagerAgentRingMethod"
                  },
                  "permission": {
                    "$ref": "#/components/schemas/AgentManagerAgentPermission"
                  },
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommonAddress"
                    }
                  }
                },
                "required": [
                  "username",
                  "password",
                  "name",
                  "detail",
                  "ring_method",
                  "permission",
                  "tag_ids",
                  "addresses"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Get the agent",
        "description": "Get the agent of the given ID.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the agent",
        "description": "Delete the agent of the given ID.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an agent",
        "description": "Update an agent and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  },
                  "ring_method": {
                    "$ref": "#/components/schemas/AgentManagerAgentRingMethod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/addresses": {
      "put": {
        "summary": "Update an agent's addresses",
        "description": "Update an agent's addresses and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommonAddress"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/tag_ids": {
      "put": {
        "summary": "Update an agent's tag IDs",
        "description": "Update an agent's tag IDs and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/permission": {
      "put": {
        "summary": "Update an agent's permission",
        "description": "Update an agent's permission and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permission": {
                    "$ref": "#/components/schemas/AgentManagerAgentPermission"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/status": {
      "put": {
        "summary": "Update an agent's status",
        "description": "Update an agent's status and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/AgentManagerAgentStatus"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/password": {
      "put": {
        "summary": "Update an agent's password",
        "description": "Update an agent's password and return updated details.",
        "tags": [
          "Agent"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the agent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentManagerAgent"
                }
              }
            }
          }
        }
      }
    },
    "/aimessages/{id}": {
      "get": {
        "summary": "Retrieve details of a aicall message",
        "description": "Fetches detailed information about a specific aicall message by ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the aicall message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a aicall message",
        "description": "Deletes a specific aicall message by ID and returns its details.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the aicall message",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerMessage"
                }
              }
            }
          }
        }
      }
    },
    "/aimessages": {
      "get": {
        "summary": "Retrieve a list of aicall messages",
        "description": "Fetches a paginated list of aicall messages.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "aicall_id",
            "in": "query",
            "description": "The aicall id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of aicall messages.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AIManagerMessage"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Send a aicall message",
        "description": "Creates and send a new aicall message and returns the details of the created message.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aicall_id": {
                    "type": "string"
                  },
                  "role": {
                    "$ref": "#/components/schemas/AIManagerMessageRole"
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "aicall_id",
                  "role",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerMessage"
                }
              }
            }
          }
        }
      }
    },
    "/aicalls/{id}": {
      "get": {
        "summary": "Get details of a specific ai call",
        "description": "Retrieves detailed information about a ai call identified by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai call."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the specified ai call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAIcall"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a specific ai call",
        "description": "Deletes a ai call identified by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai call."
          }
        ],
        "responses": {
          "200": {
            "description": "The aicall was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAIcall"
                }
              }
            }
          }
        }
      }
    },
    "/aicalls": {
      "get": {
        "summary": "Gets a list of ai calls",
        "description": "Retrieves a paginated list of ai calls based on the provided query parameters.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ai calls.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AIManagerAIcall"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new aicall.",
        "description": "Creates a new aicall and returns the created aicall's details.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ai_id": {
                    "type": "string"
                  },
                  "reference_type": {
                    "$ref": "#/components/schemas/AIManagerAIcallReferenceType"
                  },
                  "reference_id": {
                    "type": "string"
                  },
                  "gender": {
                    "$ref": "#/components/schemas/AIManagerAIcallGender"
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "ai_id",
                  "reference_type",
                  "reference_id",
                  "gender",
                  "language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of the created chatboaicall.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAIcall"
                }
              }
            }
          }
        }
      }
    },
    "/ais/{id}": {
      "get": {
        "summary": "Get ai details.",
        "description": "Retrieves detailed information for a specific ai by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the requested ai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAI"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a ai.",
        "description": "Deletes an existing ai by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai."
          }
        ],
        "responses": {
          "200": {
            "description": "AI successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAI"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a ai.",
        "description": "Updates an existing ai's details and returns the updated information.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  },
                  "engine_type": {
                    "$ref": "#/components/schemas/AIManagerAIEngineType"
                  },
                  "engine_model": {
                    "$ref": "#/components/schemas/AIManagerAIEngineModel"
                  },
                  "engine_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data associated with the ai's engine, can be dynamic and vary based on the engine type."
                  },
                  "engine_key": {
                    "type": "string",
                    "description": "API key or credential for the AI engine."
                  },
                  "init_prompt": {
                    "type": "string"
                  },
                  "tts_type": {
                    "type": "string",
                    "description": "Text-to-speech engine type."
                  },
                  "tts_voice_id": {
                    "type": "string",
                    "description": "Voice ID for the text-to-speech engine."
                  },
                  "stt_type": {
                    "type": "string",
                    "description": "Speech-to-text engine type."
                  },
                  "tool_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tool names to enable for this AI. Use [\"all\"] to enable all available tools."
                  }
                },
                "required": [
                  "name",
                  "detail",
                  "engine_type",
                  "engine_model",
                  "engine_data",
                  "engine_key",
                  "init_prompt",
                  "tts_type",
                  "tts_voice_id",
                  "stt_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of the updated ai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAI"
                }
              }
            }
          }
        }
      }
    },
    "/ais": {
      "get": {
        "summary": "Gets a list of ais.",
        "description": "Retrieves a paginated list of ais.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ais.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AIManagerAI"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new ai.",
        "description": "Creates a new ai and returns the created ai's details.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  },
                  "engine_type": {
                    "$ref": "#/components/schemas/AIManagerAIEngineType"
                  },
                  "engine_model": {
                    "$ref": "#/components/schemas/AIManagerAIEngineModel"
                  },
                  "engine_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Data associated with the ai's engine, can be dynamic and vary based on the engine type."
                  },
                  "engine_key": {
                    "type": "string",
                    "description": "API key or credential for the AI engine."
                  },
                  "init_prompt": {
                    "type": "string"
                  },
                  "tts_type": {
                    "type": "string",
                    "description": "Text-to-speech engine type."
                  },
                  "tts_voice_id": {
                    "type": "string",
                    "description": "Voice ID for the text-to-speech engine."
                  },
                  "stt_type": {
                    "type": "string",
                    "description": "Speech-to-text engine type."
                  },
                  "tool_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tool names to enable for this AI. Use [\"all\"] to enable all available tools."
                  }
                },
                "required": [
                  "name",
                  "detail",
                  "engine_type",
                  "engine_model",
                  "engine_data",
                  "engine_key",
                  "init_prompt",
                  "tts_type",
                  "tts_voice_id",
                  "stt_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of the created ai.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerAI"
                }
              }
            }
          }
        }
      }
    },
    "/aisummaries/{id}": {
      "get": {
        "summary": "Get ai summary details.",
        "description": "Retrieves detailed information for a specific ai summary by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai summary."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the requested ai summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerSummary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a ai summary.",
        "description": "Deletes an existing ai summary by its ID.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the ai."
          }
        ],
        "responses": {
          "200": {
            "description": "AI successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerSummary"
                }
              }
            }
          }
        }
      }
    },
    "/aisummaries": {
      "get": {
        "summary": "Gets a list of ai summaries.",
        "description": "Retrieves a paginated list of ai summaries.",
        "tags": [
          "AI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ai summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AIManagerSummary"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new ai summary.",
        "description": "Creates a new ai summary and returns the created ai summary's details.",
        "tags": [
          "AI"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "on_end_flow_id": {
                    "type": "string",
                    "description": "The ID of the flow to be executed when the ai summary ends."
                  },
                  "reference_type": {
                    "$ref": "#/components/schemas/AIManagerSummaryReferenceType"
                  },
                  "reference_id": {
                    "type": "string",
                    "description": "The ID of the reference for the ai summary."
                  },
                  "language": {
                    "type": "string",
                    "description": "The language of the ai summary."
                  }
                },
                "required": [
                  "on_end_flow_id",
                  "reference_type",
                  "reference_id",
                  "language"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of the created ai summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIManagerSummary"
                }
              }
            }
          }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "summary": "Create a new customer account (self-service signup).",
        "description": "Initiates a new customer account registration. The request must include `accepted_tos: true`\nto confirm Terms of Service agreement.\n\nOn success, returns a customer object and a temporary token. On failure (e.g., duplicate email),\nstill returns HTTP 200 with an empty body to prevent email enumeration attacks.\n\nAfter signup, the customer receives a verification email. Use `POST /auth/email-verify` with the\ntoken from the email to verify the account.\n",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyAuthSignupPOST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signup initiated successfully, or silently ignored if the email already exists (to prevent enumeration).\nOn success, the response contains the customer object and a temporary token.\nOn failure, the response body is an empty JSON object `{}`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerSignupResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible causes:\n- `accepted_tos` is `false` or missing.\n- `email` is missing.\n- Request body is malformed JSON.\n"
          }
        }
      }
    },
    "/auth/email-verify": {
      "post": {
        "summary": "Verify customer email address.",
        "description": "Validates the email verification token sent to the customer's email during signup.\nOn success, the customer's email is marked as verified and an access key is provisioned.\n\nThe `token` is a 64-character lowercase hexadecimal string included in the verification email.\n",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyAuthEmailVerifyPOST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified successfully. Returns the customer and a provisioned access key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerEmailVerifyResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible causes:\n- Token is invalid, expired, or already used.\n- Request body is malformed JSON.\n- `token` field is missing.\n"
          }
        }
      }
    },
    "/auth/complete-signup": {
      "post": {
        "summary": "Complete headless signup with OTP verification.",
        "description": "Completes a headless (API-based) signup flow by validating a one-time password (OTP) code.\nThe `temp_token` is returned from `POST /auth/signup` and the `code` is the OTP sent to the customer.\n\nOn success, returns the customer ID and a provisioned access key.\n",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyAuthCompleteSignupPOST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signup completed successfully. Returns the customer ID and access key credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerCompleteSignupResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible causes:\n- `temp_token` is invalid or expired.\n- `code` is incorrect.\n- Request body is malformed JSON.\n- Required fields are missing.\n"
          },
          "429": {
            "description": "Too many OTP verification attempts. Try again later."
          }
        }
      }
    },
    "/auth/unregister": {
      "post": {
        "summary": "Schedule account deletion (self-service freeze).",
        "description": "Marks the authenticated customer's account for deletion. The account enters 'frozen' state immediately.\nActive calls are terminated and new operations are blocked.\nThe customer has 30 days to recover via `DELETE /auth/unregister` before permanent deletion.\n\nExactly one of `password` or `confirmation_phrase` must be provided:\n- Password-based accounts: provide `password` for re-authentication.\n- SSO or API-key authenticated requests: provide `confirmation_phrase` set to `\"DELETE\"`.\n",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "accesskey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API access key token. Returned from the `GET /accesskeys` response. Alternative to Bearer token authentication."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBodyAuthUnregisterPOST"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account frozen successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerCustomer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Possible causes:\n- Neither `password` nor `confirmation_phrase` was provided.\n- Both `password` and `confirmation_phrase` were provided (exactly one required).\n- Password validation failed.\n- `confirmation_phrase` is not `\"DELETE\"`.\n"
          },
          "401": {
            "description": "Authentication failed. Invalid or missing access key / bearer token."
          }
        }
      },
      "delete": {
        "summary": "Cancel account deletion (self-service recover).",
        "description": "Cancels a scheduled deletion and restores the authenticated customer's account to active state.\nOnly works during the 30-day grace period while the account is in 'frozen' status.\nNo request body required.\n",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "accesskey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "API access key token. Returned from the `GET /accesskeys` response. Alternative to Bearer token authentication."
          }
        ],
        "responses": {
          "200": {
            "description": "Account recovered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerManagerCustomer"
                }
              }
            }
          },
          "400": {
            "description": "Recovery failed. Account may not be in frozen state."
          },
          "401": {
            "description": "Authentication failed. Invalid or missing access key / bearer token."
          }
        }
      }
    },
    "/available_numbers": {
      "get": {
        "summary": "List available numbers",
        "description": "Get available phone numbers for the specified country or virtual numbers.",
        "tags": [
          "Number"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "country_code",
            "in": "query",
            "description": "The ISO country code. Required when type is not virtual.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of available numbers to retrieve (normal or virtual). Defaults to normal.",
            "schema": {
              "$ref": "#/components/schemas/NumberManagerNumberType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NumberManagerAvailableNumber"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request is invalid or cannot be processed."
          }
        }
      }
    },
    "/billing_accounts/{id}": {
      "get": {
        "summary": "Get detailed billing account info",
        "description": "Returns detailed billing account info for the given ID.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the billing account."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved billing account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerAccount"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update billing account",
        "description": "Updates the billing account information for the given ID.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the billing account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "detail": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated billing account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerAccount"
                }
              }
            }
          }
        }
      }
    },
    "/billing_accounts/{id}/payment_info": {
      "put": {
        "summary": "Update billing account's payment info",
        "description": "Updates the payment info for the given billing account ID.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the billing account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_type": {
                    "$ref": "#/components/schemas/BillingManagerAccountPaymentType"
                  },
                  "payment_method": {
                    "$ref": "#/components/schemas/BillingManagerAccountPaymentMethod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated billing account payment info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerAccount"
                }
              }
            }
          }
        }
      }
    },
    "/billing_accounts/{id}/balance_add_force": {
      "post": {
        "summary": "Add balance to billing account",
        "description": "Adds the given balance to the billing account.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the billing account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "balance": {
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added balance to the billing account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerAccount"
                }
              }
            }
          }
        }
      }
    },
    "/billing_accounts/{id}/balance_subtract_force": {
      "post": {
        "summary": "Subtract balance from billing account",
        "description": "Subtracts the given balance from the billing account.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the billing account."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "balance": {
                    "type": "number",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully subtracted balance from the billing account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerAccount"
                }
              }
            }
          }
        }
      }
    },
    "/billings": {
      "get": {
        "summary": "Get list of billings",
        "description": "Retrieve a list of the customer's billings.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of billings.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/BillingManagerBilling"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/billings/{billing-id}": {
      "get": {
        "summary": "Get a billing record by ID",
        "description": "Retrieves a single billing record by its unique identifier. Returns only the billing record without related account or reference resource data.",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "billing-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the billing record",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved billing record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingManagerBilling"
                }
              }
            }
          },
          "400": {
            "description": "Invalid billing ID format or not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid UUID format"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}/recording_start": {
      "post": {
        "summary": "Start call recording",
        "description": "Initiate recording for the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the call"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "description": "The format of the recording.",
                    "type": "string",
                    "enum": [
                      "wav"
                    ]
                  },
                  "end_of_silence": {
                    "description": "The duration of silence (in seconds) after which the recording will be stopped.",
                    "type": "integer"
                  },
                  "end_of_key": {
                    "description": "The key that will stop the recording.",
                    "type": "string"
                  },
                  "duration": {
                    "description": "The maximum duration of the recording (in seconds).",
                    "type": "integer"
                  },
                  "on_end_flow_id": {
                    "description": "The ID of the flow to be executed when the recording ends.",
                    "type": "string"
                  }
                },
                "required": [
                  "format",
                  "end_of_silence",
                  "end_of_key",
                  "duration",
                  "on_end_flow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed call information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallManagerCall"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}/recording_stop": {
      "post": {
        "summary": "Stop call recording",
        "description": "Stop the ongoing recording for the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the call"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed call information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallManagerCall"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}/hangup": {
      "post": {
        "summary": "Hang up the call",
        "description": "Ends the call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the hangup action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallManagerCall"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}/hold": {
      "post": {
        "summary": "Hold the call",
        "description": "Puts the specified call on hold.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the hold action."
          }
        }
      },
      "delete": {
        "summary": "Unhold the call",
        "description": "Removes the hold status on the call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the unhold action."
          }
        }
      }
    },
    "/calls/{id}/media_stream": {
      "get": {
        "summary": "Get media stream for the call",
        "description": "Retrieve the media stream information for a specific call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the call",
            "schema": {
              "type": "string"
            }
          },
          {
            "encapsulation": null,
            "name": "encapsulation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Media stream information retrieved successfully"
          }
        }
      }
    },
    "/calls/{id}/moh": {
      "post": {
        "summary": "Enable Music on Hold (MOH)",
        "description": "Activates Music on Hold for the call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the MOH activation."
          }
        }
      },
      "delete": {
        "summary": "Disable Music on Hold (MOH)",
        "description": "Deactivates Music on Hold for the call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the MOH deactivation."
          }
        }
      }
    },
    "/calls/{id}/mute": {
      "post": {
        "summary": "Mute the call",
        "description": "Mutes the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "direction": {
                    "$ref": "#/components/schemas/CallManagerCallMuteDirection"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the mute action."
          }
        }
      },
      "delete": {
        "summary": "Unmute the call",
        "description": "Unmutes the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "direction": {
                    "$ref": "#/components/schemas/CallManagerCallMuteDirection"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the unmute action."
          }
        }
      }
    },
    "/calls/{id}/silence": {
      "post": {
        "summary": "Silence a call",
        "description": "Mute the audio stream for the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call silenced successfully"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      },
      "delete": {
        "summary": "Un-silence a call",
        "description": "Unmute the audio stream for the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call un-silenced successfully"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/calls/{id}/talk": {
      "post": {
        "summary": "Talk to the call",
        "description": "Initiates a talking action to the call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string",
                    "description": "TTS provider to use (gcp or aws). If empty, defaults to GCP. If the selected provider fails, the system falls back to the alternative provider with the default voice for the language."
                  },
                  "voice_id": {
                    "type": "string",
                    "description": "Provider-specific voice ID. If empty, uses the default voice for the given language. On fallback, the voice_id is reset to the alternative provider's default."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the talk action."
          }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "summary": "Get detail call info",
        "description": "Returns detailed information about the specified call.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed call information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallManagerCall"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete up the call",
        "description": "Delete the call",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the deleted call info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallManagerCall"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "Get list of calls",
        "description": "Returns a list of calls for the given customer.",
        "tags": [
          "Call"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of calls.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CallManagerCall"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Make an outbound call",
        "description": "Creates a temporary flow and initiates a call with the specified flow.",
        "tags": [
          "Call"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flow_id": {
                    "type": "string"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FlowManagerAction"
                    }
                  },
                  "source": {
                    "$ref": "#/components/schemas/CommonAddress"
                  },
                  "destinations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CommonAddress"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The details of the created call.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "calls": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CallManagerCall"
                          }
                        },
                        "groupcalls": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CallManagerGroupcall"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaigncalls/{id}": {
      "get": {
        "summary": "Get campaign call details",
        "description": "Retrieve detailed information for a specific campaign call.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the campaign call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed information for the specified campaign call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaigncall"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a campaign call",
        "description": "Deletes an existing campaign call.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the campaign call to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign call deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaigncall"
                }
              }
            }
          }
        }
      }
    },
    "/campaigncalls": {
      "get": {
        "summary": "Get list of campaign calls",
        "description": "Retrieve a list of campaign calls for a given customer.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of campaign calls",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CampaignManagerCampaigncall"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/actions": {
      "put": {
        "summary": "Update campaign's actions",
        "description": "Updates the actions of a specific campaign and return the updated campaign info.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FlowManagerAction"
                    }
                  }
                },
                "required": [
                  "actions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/campaigncalls": {
      "get": {
        "summary": "Update campaign's actions",
        "description": "Updates the actions of a specific campaign and return the updated campaign info.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CommonPagination"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CampaignManagerCampaigncall"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/next_campaign_id": {
      "put": {
        "summary": "Update campaign's service level",
        "description": "Updates the sevice level of a specific campaign and return the updated campaign info.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "next_campaign_id": {
                    "type": "string",
                    "description": "The next campaign's id."
                  }
                },
                "required": [
                  "next_campaign_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/resource_info": {
      "put": {
        "summary": "Update campaign's resource info",
        "description": "Updates the resource info of a specific campaign and return the updated campaign info.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "outplan_id": {
                    "type": "string",
                    "description": "outplan's id."
                  },
                  "outdial_id": {
                    "type": "string",
                    "description": "outplan's id."
                  },
                  "queue_id": {
                    "type": "string",
                    "description": "queue's id."
                  },
                  "next_campaign_id": {
                    "type": "string",
                    "description": "next campaign's id."
                  }
                },
                "required": [
                  "outplan_id",
                  "outdial_id",
                  "queue_id",
                  "next_campaign_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/service_level": {
      "put": {
        "summary": "Update campaign's service level",
        "description": "Updates the sevice level of a specific campaign and return the updated campaign info.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_level": {
                    "type": "integer",
                    "description": "The campaign's service level."
                  }
                },
                "required": [
                  "service_level"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/status": {
      "put": {
        "summary": "Update campaign status",
        "description": "Updates the status of a specific campaign.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/CampaignManagerCampaignStatus"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "summary": "Get campaign details",
        "description": "Retrieves detailed information about a specific campaign by its ID.",
        "tags": [
          "Campaign"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the campaign"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignManagerCampaign"
                }
              }
[...]
